.wave ul.nav {
	height: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.wave ul.nav li {
	display: inline-block;
}

.wave ul.nav li a {
	display: block;
	background: url('/images/friskyfactory/posting-icons.png') top left no-repeat;
	text-indent: -1000em;
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0;
}
