.wave_community ul.nav li {
	width: 50px;
}

.no-cssanimations .wave_community ul.nav li {
	position: relative;
	height: 50px;
}

.no-cssanimations .wave_community ul.nav li a {
	position: absolute;
}

.wave_community ul.nav li:nth-child(1) a {
	background-position: 0 0;
}

.wave_community ul.nav li:nth-child(2) a {
	background-position: -50px 0;
}

.wave_community ul.nav li:nth-child(3) a {
	background-position: -100px 0;
}

.wave_community ul.nav li:nth-child(4) a {
	background-position: -220px 0;
	width: 55px;
}

.wave_community ul.postings > li {
	margin: 30px 0;
}

.wave_community td.avatar.thumb {
    width: 220px
}

.wave_community ul.postings a.new_posting_comment {
	position: relative;
	float: right;
	top: -40px;
}


.wave_community .canvas {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.wave_community li:nth-child(even) .canvas {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg)
	transform: rotate(2deg);
}

.wave_community li:nth-child(3n) .canvas {
    -webkit-transform: none;
    -moz-transform: none;
	transform: none;
    top: -5px;
    right: 10px;
}

.wave_community li:nth-child(5n) .canvas {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
	transform: rotate(3deg);
    right: 5px;
}

.wave_community li:nth-child(8n) .canvas {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
    top: 8px;
    right: 5px;
	margin-bottom: 20px;
}

.wave_community li:nth-child(11n) .canvas {
    top: 3px;
    right: -5px;
}

.wave_community ul.posting_comments .comment.canvas {
    -webkit-transform: none;
    -moz-transform: none;
	transform: none;
	top: 0;
	right: 0;
	margin: 0;
}

.wave_community ul.posting_comments > li:first-child  .comment.canvas {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.wave_community ul.posting_comments > li:nth-child(5n) .comment.canvas {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
	transform: rotate(2deg);
    top: -2px;
    right: 5px;
}


ul.posting_post_its .posting_post_it {
	float: left;
}

.wave_community .posting_wave_proxy {
	position: relative;
}

.wave_community .posting_wave_proxy .post_it {
	position: absolute;
	z-index: 10;
}

.wave_community .posting_wave_proxy .wave_event {
	position: relative;
	left: 80px;
}

.wave_community .tab_content {
	margin-bottom: 20px;
}

.wave_community #posting_photo_upload_well {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);	
	margin: 6px;	
}


@-webkit-keyframes BOUNCE {
	0% {
		-webkit-transform: translateY(0px);
	}
	40% {
		-webkit-transform: translateY(-14px);
	}
	70% {
		-webkit-transform: translateY(-15px);
	}	
	80% {
		-webkit-transform: translateY(38px);
	}
	100% {
		-webkit-transform: translateY(0px);
	}
}

.bounce {
	-webkit-animation-name: BOUNCE;
	-webkit-animation-duration: 1.25s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes SHAKE {
	0% {
		-webkit-transform: translateX(0px);
	}
	20% {
		-webkit-transform: translateX(-2px);
	}
	40% {
		-webkit-transform: translateX(2px);
	}
	60% {
		-webkit-transform: translateX(-2px);
	}
	80% {
		-webkit-transform: translateX(2px);
	}
	100% {
		-webkit-transform: translateX(0px);
	}
}

.shake {
	-webkit-animation-name: SHAKE;
	-webkit-animation-duration: 0.25s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;	
}

@-webkit-keyframes PULSE {
  from {
	-webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  25% {
	-webkit-transform: scale(0.98);
    opacity: 0.5;
  }
  to {
	-webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}

.pulse {
  -webkit-animation-name: PULSE;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: ease-in-out;
}



