.wave_community ul.nav li:nth-child(1) a {
	background-position: 0 0;
}

.wave_community ul.nav li:nth-child(2) a {
	background-position: -50px 0;
}

.wave_community ul.nav li:nth-child(3) a {
	background-position: -100px 0;
}

.wave_community ul.nav li:nth-child(4) {
	width: 55px;	
}

.wave_community ul.nav li:nth-child(4) a {
	background-position: -220px 0;
	width: 55px;
}

.wave_community ul.posting_post_its,
.wave_community ul.postings > li {
	margin-bottom: 40px;
}

.wave_community ul.postings a.new_posting_comment {
	clear: left;
	float: right;
	margin-top: -60px;
}

.wave_community .attachment img.avatar.thumb {
	width: 80px;
	height: 80px;
	background-color: #FFF;	
	background: -webkit-gradient(radial, 40 40, 10, 40 60, 80, from(#FFF), to(#E2E2E2));
	-webkit-background-origin: border-box;
	-webkit-background-clip: border-box;
	background-image: -moz-radial-gradient(center, circle farthest-corner, #FFF 50%, #E2E2E2 100%);
	-moz-background-origin: border-box;
	-moz-background-clip: border-box;
	padding: 4px 4px 18px 4px;
	border: 1px solid #CDCDCD;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.wave_community ul.postings > li .canvas {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.wave_community .canvas {
	-webkit-transition: -webkit-transform 0.1s ease-in;
}

.wave_community ul.postings > li:nth-of-type(even) .canvas {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg)
	transform: rotate(2deg);
}

.wave_community ul.postings > li:nth-of-type(3n) .canvas {
    -webkit-transform: none;
    -moz-transform: none;
	transform: none;
    top: -5px;
    right: 10px;
}

.wave_community ul.postings > li:nth-of-type(5n) .canvas {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
	transform: rotate(3deg);
    right: 5px;
}

.wave_community ul.postings > li:nth-of-type(8n) .canvas {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
    top: 8px;
    right: 5px;
	margin-bottom: 20px;
}

.wave_community ul.postings > li:nth-of-type(11n) .canvas {
    top: 3px;
    right: -5px;
}

.wave_community ul.posting_comments > li .comment.canvas {
    -webkit-transform: none;
    -moz-transform: none;
	transform: none;
	top: 0;
	right: 0;
	margin: 0;
}

.wave_community ul.posting_comments > li:first-child  .comment.canvas {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.wave_community ul.posting_comments > li:nth-of-type(5n) .comment.canvas {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
	transform: rotate(2deg);
    top: -2px;
    right: 5px;
}

.wave_community .video.canvas {
    -webkit-transform: none !important;
    -moz-transform: none !important;
	transform: none !important;	
}

.wave_community ul.postings > li .photo.canvas {
    -webkit-transform: none;
    -moz-transform: none;
	transform: none;
}

.wave_community ul.posting_post_its {
	height: 147px;
/*	overflow: hidden;*/
}

.wave_community ul.posting_post_its .posting_post_it,
.wave_community ul.posting_post_its .new_posting_post_it {
	float: left;
}

.wave_community ul.posting_post_its form .canvas,
.wave_community ul.posting_post_its > li .canvas {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	right: 0;
	margin: 0;
}

.wave_community #posting_photo_upload_well {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);	
	margin: 6px;
}

.wave_community .loading {
    margin: 0 4px;
    padding: 4px 8px;
    border-bottom: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}
