.wave_events.header ul.nav li:nth-child(1) a {
	background-position: -150px;
	width: 70px;
}

.ticket-container {
	width: 700px;
	height: 254px;
	-webkit-perspective: 1200;
}

.ticket-container > .ticket {
	position: absolute;
	width: 700px;
	height: 254px;
	background-color: transparent;
	-webkit-transform-style: preserve-3d;	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
}

.ticket-container > .ticket.flipped {
	-webkit-transform: rotateY(180deg);
}

.ticket-container > .ticket .face {
	position: absolute;
	-webkit-backface-visibility: hidden;    
}

.ticket a.flip {
	display: block;
	text-decoration: none;
	text-indent: -5000px;
	width: 18px;
	height: 20px;
	margin-top: 208px;
	margin-left: 62px;
	background: url(/images/friskyfactory/buddy-bar.png) top left no-repeat;	
}

.ticket .front.face {
	background: url('/images/friskyfactory/ticket.png');	
	margin: 0 auto;
	width: 700px;
	height: 248px;
}

.ticket .front.face .header {
	height: 20px;
	padding-top: 17px;
	overflow: hidden;
}

.ticket .front.face .header-url {	
	height: 20px;
	padding-top: 4px;
	text-align: center;
}

.ticket .front.face .header-url a,
.ticket .front.face .header-url a:visited {
	color: #fff;	
}

.ticket .front.face .left-info_pane {
	position: relative;
}

.ticket .front.face .start_date {
	text-align: center;
}

.ticket .front.face .center-pane {
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
}

.ticket .front.face .promoter_name {
	font-size: 24px;
	text-align: center;
	margin: 10px 0;
}

.ticket .front.face .presents {
	font-size: small;
	color: gray;
	text-align: center;
	margin: 10px 0;
	text-transform: uppercase;
}

.ticket .front.face .description {
	text-align: center;
	font-size: 16px;
}

.ticket-container > .ticket .back.face {
	-webkit-transform: rotateY(180deg);
}

.ticket .back.face {
	background: url('/images/friskyfactory/ticket.png') 0 -250px;	
	margin: 0 auto;
	width: 700px;
	height: 248px;
}

.ticket .back.face .info-pane {
	position: relative;
	margin-top: 14px;
	height: 210px;
	width: 312px;
	overflow-y: auto;
}

.ticket .back.face div.map {
	position: relative;
	left: 20px;
	margin-top: 14px;
	overflow: hidden;
}

.ticket .back.face p.name {
	margin-top: 0px;
}

.ticket .back.face p.body {
	margin-bottom: 0px;
}

.ticket .back.face ul.navi a.flip {
	background-position: -200px 0;
	margin-left: 18px;
}

#new_event_overlay form {
	position: relative;
	margin: 0 auto;
	width: 700px;
}

#new_event_overlay .front.face .header {
	height: 38px;
	padding-top: 0;
}	

#new_event_overlay .front.face .header-url {
	height: 24px;
	padding-top: 0;
}	

#new_event_overlay .presents {
	margin: 0;
}

#new_event_overlay input#wave_event_start_date {
	display: block;
	position: relative;
	top: 11px;
	width: 17em;
	height: 24px;
	margin: 0 auto;
	text-align: center;
	padding: 2px;
	border: 0;
	cursor: pointer;
	overflow: hidden;
	background: transparent;
}

#new_event_overlay div.time {
	display: block;
	position: relative;
	top: 11px;
	right: 22px;
	text-align: right;
	font-size: 12px;
	height: 24px;	
	overflow: hidden;
}

#new_event_overlay select.time {
	width: 4em;
}

#new_event_overlay input#wave_event_url {
	display: block;
	position: relative;
	top: 2px;
	height: 18px;
	background-color: transparent;
	color: #fff !important;
	width: 17em;
	margin: 0 auto;
	text-align: center;	
	padding: 2px;
	border: 0;
	cursor: pointer;
}

#new_event_overlay .front.face .center-pane {
	margin-top: 0;
}

#new_event_overlay input#wave_event_promoter_name {
	font-size: 24px;
	text-align: center;
	background: none;
}

#new_event_overlay textarea#wave_event_description {
	font-size: 16px;
	height: 60px;
	text-align: center;
	resize: none;
	background: none;
	color: black;
}

#new_event_overlay textarea#wave_event_body {
	height: 112px;
	resize: none;
}

#new_event_overlay input#wave_event_location_name {
	margin-top: 0;
}

#new_event_overlay .back.face .info-pane {
	overflow: hidden;
}

#new_event_overlay textarea#wave_event_body {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: 0;
}

#new_event_overlay .button-bar {
	text-align: right;
	padding-right: 20px;
}

.wave.events .event {
	margin: 10px 0;
}

.wave.events .event {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    postition: relative;
}

.wave.events .event:nth-child(even) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

.wave.events .event:nth-child(3n) {
	position: relative;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    top: -30px;
    right: 30px;
}
