.wave_events.header ul.nav li:nth-child(1) a {
	background-position: -150px;
	width: 70px;
}

.wave.events .event {
	margin: 10px 0;
}

.wave.events .event {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    postition: relative;
}

.wave.events .event:nth-child(even) {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
}

.wave.events .event:nth-child(3n) {
	position: relative;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    top: -20px;
    right: 30px;
}

.ticket-container {
	width: 700px;
	height: 254px;
	-webkit-perspective: 1200;
}

.ticket-container > .ticket {
	position: absolute;
	width: 700px;
	height: 254px;
	background-color: transparent;
	-webkit-transform-style: preserve-3d;	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
}

.ticket-container > .ticket.flipped {
	-webkit-transform: rotateY(180deg);
}

.ticket-container > .ticket .face {
	position: absolute;
	-webkit-backface-visibility: hidden;    
}

.ticket a.flip {
	display: block;
	text-decoration: none;
	text-indent: -5000px;
	width: 18px;
	height: 20px;
	margin-top: 208px;
	margin-left: 62px;
	background: url(/images/friskyfactory/buddy-bar.png) top left no-repeat;	
}

.ticket .front.face {
	background: url('/images/friskyfactory/ticket.png');	
	margin: 0 auto;
	width: 700px;
	height: 248px;
}

.ticket .front.face .header {
	height: 20px;
	padding-top: 17px;
	overflow: hidden;
}

.ticket .front.face .start_date {
	text-align: center;
}

.ticket .front.face .center-pane {
	text-align: center;
}

.ticket .front.face .promoter_name {
	font-size: 24px;
	text-align: center;
	margin: 10px 0;
}

.ticket .front.face .presents {
	font-size: small;
	text-align: center;
	margin: 10px 0;
	text-transform: uppercase;
}

.ticket .front.face .description {
	text-align: center;
	font-size: 16px;
}

.ticket-container > .ticket .back.face {
	-webkit-transform: rotateY(180deg);
}

.ticket .back.face {
	background: url('/images/friskyfactory/ticket.png') 0 -250px;	
	margin: 0 auto;
	width: 700px;
	height: 248px;
}

.ticket .back.face .info-pane {
	position: relative;
	margin-top: 14px;
	height: 210px;
	width: 312px;
	overflow-y: auto;
}

.ticket .back.face div.map {
	position: relative;
	left: 20px;
	margin-top: 14px;
	overflow: hidden;
}

.ticket .back.face p.name {
	margin-top: 0px;
}

.ticket .back.face p.body {
	margin-bottom: 0px;
}

.ticket .back.face ul.navi a.flip {
	background-position: -200px 0;
	margin-left: 18px;
}

#new_wave_event {
	position: relative;
	margin: 0 auto;
	width: 700px;
}

#new_wave_event .front.face .header {
	height: 38px;
	padding-top: 0;
}	

#new_wave_event input#wave_event_start_date {
	display: block;
	margin: 12px auto 0;
	text-align: center;
	border: 0;
	cursor: pointer;
	overflow: hidden;
	font-size: 100%;
}

#new_wave_event .front.face .body {
	margin-top: 0;
	text-align: center;
}

#new_wave_event .body input,
#new_wave_event .body textarea {
	width: 95%;
}

#new_wave_event .back.face .body {
	margin-top: 10px;
}

#new_wave_event .back.face .body input,
#new_wave_event .back.face .body textarea {
	width: 290px;
}

#new_wave_event input#wave_event_promoter_name {
	font-size: 24px;
	text-align: center;
}

#new_wave_event textarea#wave_event_description {
	font-size: 90%;
	height: 60px;
	text-align: center;
	resize: none;
}

#new_wave_event textarea#wave_event_body {
	height: 110px;
	resize: none;
}

#new_wave_event .button-bar {
	text-align: right;
	padding-right: 20px;
}
