.wave.roll_call {
    width: 961px;
    margin-left: 6px;
    margin-top: 20px;
}

.wave.roll_call .polaroid-container,
.wave.roll_call .polaroid-container {
    float: left;
    height: 376px;
}

.tag-cloud {
    text-align: center;
	margin: 10px 0;
	font-size: 22px;
	line-height: 0.4em;
}

.tag-cloud a,
.tag-cloud a:visited {
    margin: 0 4px;
    padding: 4px 8px;
    border-bottom: 0px;
    white-space: nowrap;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.tag-cloud a.tag1 { font-size: 0.6em; }
.tag-cloud a.tag2 { font-size: 0.8em; }
.tag-cloud a.tag3 { font-size: 1.0em; }
.tag-cloud a.tag4 { font-size: 1.2em; }


.polaroid-container:nth-child(2) {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.polaroid-container:nth-child(5n) {
    position: relative;
    top: 5px;
    left: 10px;
}

.polaroid-container:nth-child(7n) {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.polaroid-container:nth-child(10n) {
    position: relative;
    top: 5px;
    right: 10px;
}
