- if @posting.present? && @posting.valid?
  :plain
    var
      $posting = $("#{escape_javascript(self.send(('render_' + resolver + '_posting').to_sym, @posting))}"),
      $nav = $('li.current', 'ul.nav'),
      $form = $($('a', $nav).attr('rel')),
      $firstPosting = $('.post_frame').filter(':first');

    $nav.removeClass('current');
    $form.hide()[0].reset();
    $firstPosting.before($posting);
    $posting.find('a.remove[rel]').unpublishOverlay();

- else
  :plain
    alert(@posting.errors.full_messages.to_sentence);
