html.welcome {
	background-color: #9C180C;
	background-image: none;
}

html.welcome body {
	background: url($background) no-repeat top center;
	background-color: #9C180C;
}

html.welcome p {
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

html.welcome a,
html.welcome a:link,
html.welcome a:hover,
html.welcome a:visited,
html.welcome a:active {
	color: #501518;
}

html.welcome h1 {
	color: #FFF;
	text-shadow: 4px 8px 6px #701518;
}

html.welcome h2 {
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

html.welcome h3 {
	color: #FFF;
	text-shadow: 1px 2px 1px #701518;
}

html.welcome h4 {
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

html.welcome label {
	color: #501518;
	color: #FFF;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

html.welcome .panel.login a.new_password {
	color: #FFF;
}

html.welcome .flash.notice a {
	color: #FFF;
}

html.welcome .flash.error li {
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}
