.posting[avatar]
  .polaroid-container
    .polaroid
      .face-container
        .front.face
          .content
            .pane.avatar
              = avatar_image_tag(avatar, :class => 'headshot', :anonymous => true, :link_to_profile => false)
