- unless posting.nil?
  .posting-container.clearfix
    .grid_2.avatar.thumb.alpha
      = render_attachment(posting)
    .grid_14.omega
      = render_profile_wave_posting(posting)
      = render_comments(posting)
