- label ||= attribute.to_s.titleize
- attribute_description = profile_signal.resource.send((attribute.to_s + '_description').to_sym)
%tr{ :class => attribute }
  %td.label<
    = label
  %td.detail<
    = attribute_description.present? ? attribute_description : '&nbsp;'.html_safe
