.wave.polaroid-container[profile]
  .polaroid{ :'data-profile_id' => profile.id }
    = render :partial => 'wave/profiles/profile_front_face', :locals => { :profile => profile } 
    = render :partial => 'wave/profiles/profile_back_face', :locals => { :profile => profile } 
