- fill_with_matrix = [ empty_thumb_image_tag, empty_thumb_image_tag, empty_thumb_image_tag ] * 3
%table.grid
  - fill_with_matrix.zip(@invitations).in_groups_of(3) do |fill_with_photo_row|
    %tr
      - fill_with_photo_row.each do |invitation_with_fill|
        %td
          - if invitation_with_fill[1]
            - if invitation_with_fill[1].accepted? && invitation_with_fill[1].invitee
              = avatar_image_tag(invitation_with_fill[1].invitee, :class => 'thumb')
            - else
              = placeholder_image_tag(:class => 'thumb', :title => 'Awaiting acceptance')
          - else
            = invitation_with_fill[0]
.caption
  #{@wave.handle}&#39;s&nbsp;9 recent invites
