- matrix = [ empty_thumb_image_tag, empty_thumb_image_tag, empty_thumb_image_tag(:class => 'omega') ] * 3
- matrix.zip(@avatar_urls).in_groups_of(3) do |avatar_url_row|
  - avatar_url_row.each_with_index do |avatar_url_with_fill, idx|
    - avatar_url = avatar_url_with_fill[1]; fill_image_tag = avatar_url_with_fill[0]
    - if avatar_url.present?
      = image_tag(avatar_url, :site => false, :class => "thumb#{' omega' if idx == 2 }")
    - else
      = fill_image_tag

= link_to_send_cocktail(@profile)
