- matrix = [ empty_thumb_image_tag, empty_thumb_image_tag, empty_thumb_image_tag ] * 3
%table.grid
  - matrix.zip(@avatars).in_groups_of(3) do |avatar_row|
    %tr
      - avatar_row.each do |avatar_with_fill|
        %td
          - fill_image_tag = avatar_with_fill[0]
          - avatar = avatar_with_fill[1]
          - case
          - when avatar.present? && !avatar.silhouette?
            = link_to(image_tag(avatar.url(:thumb), :site => false, :class => 'thumb'), wave_profile_path(avatar.profile(current_site)), :class => 'profile')
          - when avatar.present?
            = image_tag(avatar.url(:thumb), :site => false, :class => 'thumb')
          - else
            = fill_image_tag
= link_to_send_cocktail(@profile)
