- if @profile.present?
  %table.header<
    %tr
      %td.avatar<
        = avatar_image_tag(@profile.avatar, :style => :thumb, :anonymous => true, :gender => @profile.gender)
      %td.username<
        = @profile.handle
      %td.age<
        = @profile.age.present? ? @profile.age : '&nbsp;'.html_safe
  %table.detail
    = render_profile_signals(@profile)
