/*----------------------------------------*\
|	Built with the Lessentials Framework   |
|	       Created by Arron Hunt           |
| 	          copyright 2011               |
\*----------------------------------------*/
.new_post.status textarea {
  width: 340px;
  height: 50px;
  padding: 10px;
  margin: 0 20px -3px 20px;
  resize: none;
  border: none;
  background: #fff;
  outline: none;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.status .cell {
  width: 290px;
  padding: 10px;
  background: #f0f0f0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #333;
  font: 13px "Helvetica Neue", 'Myriad Pro', Arial, Helvetica, Geneva, sans-serif;
  line-height: 1.5;
  text-shadow: 0 1px 0 #fff;
}
.status .cell a {
  color: #1b5452;
  text-decoration: none;
}
