html.application body {
	background-image: url($background-header), url($background);
	background-position: top center, top center;
	background-repeat: no-repeat, repeat-y;
	background-color: #000;
}

html.application .header.primary {
	background: url($header) no-repeat top center;
	margin-top: 140px;
	margin-bottom: 30px;
}

html.application .header.primary ul.nav li a {
	background-image: url($header);
}

html.application .page.footer {
	color: #000;
}

html.application .header.secondary { 
	color: #FFF
}

html.application .header.secondary a:visited,
html.application .header.secondary a:active {
    color: #FFF;
}

/* * * */

html.application .header.primary ul.nav li#nav-1 {
	top: 70px;
	left: 300px;
}

html.application .header.primary ul.nav li#nav-1 a {
	width: 60px;
	height: 16px;
	background-position: -250px -70px;
}

html.application .header.primary ul.nav li#nav-1 a:hover,
html.application .header.primary ul.nav li#nav-1.current a:hover {
	background-position: -250px -129px;
}

html.application .header.primary ul.nav li#nav-1 a:active,
html.application .header.primary ul.nav li#nav-1.current a:active {
	background-position: -250px -129px;
}

html.application .header.primary ul.nav li#nav-1.current a {
	background-position: -250px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-2 {
	top: 70px;
	left: 380px;
}

html.application .header.primary ul.nav li#nav-2 a {
	width: 80px;
	height: 16px;
	background-position: -330px -70px;
}

html.application .header.primary ul.nav li#nav-2 a:hover,
html.application .header.primary ul.nav li#nav-2.current a:hover {
    background-position: -330px -129px;
}

html.application .header.primary ul.nav li#nav-2 a:active,
html.application .header.primary ul.nav li#nav-2.current a:active {
    background-position: -330px -129px;
}

html.application .header.primary ul.nav li#nav-2.current a {
    background-position: -330px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-3 {
	top: 70px;
	left: 478px;
}

html.application .header.primary ul.nav li#nav-3 a {
	width: 60px;
	height: 16px;
	background-position: -428px -70px;
}

html.application .header.primary ul.nav li#nav-3 a:hover,
html.application .header.primary ul.nav li#nav-3.current a:hover {
    background-position: -428px -129px;
}

html.application .header.primary ul.nav li#nav-3 a:active,
html.application .header.primary ul.nav li#nav-3.current a:active {
    background-position: -428px -129px;
}

html.application .header.primary ul.nav li#nav-3.current a {
    background-position: -428px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-4 {
	top: 70px;
	left: 570px;
}

html.application .header.primary ul.nav li#nav-4 a {
	width: 60px;
	height: 16px;
	background-position: -520px -70px;
}

html.application .header.primary ul.nav li#nav-4 a:hover,
html.application .header.primary ul.nav li#nav-4.current a:hover {
    background-position: -520px -129px;
}

html.application .header.primary ul.nav li#nav-4 a:active,
html.application .header.primary ul.nav li#nav-4.current a:active {
    background-position: -520px -129px;
}

html.application .header.primary ul.nav li#nav-4.current a {
    background-position: -520px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-5 {
	top: 70px;
	left: 660px;
}

html.application .header.primary ul.nav li#nav-5 a {
	width: 50px;
	height: 16px;
	background-position: -610px -70px;
}

html.application .header.primary ul.nav li#nav-5 a:hover,
html.application .header.primary ul.nav li#nav-5.current a:hover {
	background-position: -610px -129px;
}

html.application .header.primary ul.nav li#nav-5 a:active,
html.application .header.primary ul.nav li#nav-5.current a:active {
	background-position: -610px -129px;
}

html.application .header.primary ul.nav li#nav-5.current a {
	background-position: -610px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-6 {
	top: 70px;
	left: 736px;
}

html.application .header.primary ul.nav li#nav-6 a {
	width: 52px;
	height: 16px;
	background-position: -686px -70px;
}

html.application .header.primary ul.nav li#nav-6 a:hover,
html.application .header.primary ul.nav li#nav-6.current a:hover {
	background-position: -686px -129px;
}

html.application .header.primary ul.nav li#nav-6 a:active,
html.application .header.primary ul.nav li#nav-6.current a:active {
	background-position: -686px -129px;
}

html.application .header.primary ul.nav li#nav-6.current a {
	background-position: -686px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-8 {
	top: 70px;
	left: 820px;
}

html.application .header.primary ul.nav li#nav-8 a {
	width: 70px;
	height: 16px;
	background-position: -770px -70px;
}

html.application .header.primary ul.nav li#nav-8 a:hover,
html.application .header.primary ul.nav li#nav-8.current a:hover {
    background-position: -770px -129px;
}

html.application .header.primary ul.nav li#nav-8 a:active,
html.application .header.primary ul.nav li#nav-8.current a:active {
    background-position: -770px -129px;
}

html.application .header.primary ul.nav li#nav-8.current a {
    background-position: -770px -129px;
}

html.application .wave_community .loading {
	color: #FFF;
	background-color: rgb(82, 53, 111);
}

html.application .wave_community .loading {
	-webkit-box-shadow: 0px 0px 4px 4px #888;
	-moz-box-shadow: 0px 0px 4px 4px #888;
	box-shadow: 0px 0px 4px 4px #888;
}

html.application .tag-cloud a:hover {
	color: #FFF;
	background-color: rgba(82, 53, 111, 0.6);
}

html.application .tag-cloud a.current,
html.application .tag-cloud a.current:hover {
	color: #FFF;
	background-color: rgb(82, 53, 111);
}


html.application .tag-cloud a,
html.application .tag-cloud a:visited {
	color: #FFF;
}

html.application .tag-cloud a.current,
html.application .tag-cloud a:visited.current {
	-webkit-box-shadow: 0px 0px 4px 4px #888;
	-moz-box-shadow: 0px 0px 4px 4px #888;
	box-shadow: 0px 0px 4px 4px #888;
}

html.welcome html {
	background-color: #EEF7FC;
}

html.welcome body {
	background-image: url($background-header), url($background-footer), url($background);
	background-position: top center, bottom center, top center;
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-color: #000;
	padding: 100px 0 160px 0;
}

html.welcome p {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome a,
html.welcome a:link,
html.welcome a:hover,
html.welcome a:visited,
html.welcome a:active {
	color: #010101;
}

html.welcome a.ui-button,
html.welcome a.ui-button:link,
html.welcome a.ui-button:hover,
html.welcome a.ui-button:visited,
html.welcome a.ui-button:active {
	color: inherit;
}

html.welcome h1 {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome h2 {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome h3 {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome h4 {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome label {
	color: #010101;
}

html.welcome input[disabled] {
	color: #AAA;
}

html.welcome .panel.login a.new_password {
	color: #010101;
}

html.welcome .flash.notice a {
	color: #010101;
}

html.welcome .flash.error li {
	color: #FFF;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

