.headshot-container
  .headshot
    .face
      %p.instructions
        Preferences
      %table.preferences
        %tr
          %td
            = check_box_tag 'user[emailable]', 1, current_user.emailable?, :'data-remote' => true, :'data-method' => :put, :'data-url' => unsubscribe_profile_path
            = label_tag :user_emailable, 'Subscribe to emails'