.wave.profile.grid_12[@wave]
  %h1
    #{@wave.user.first_name}&#8217;s Wave
  - if @wave.postings.empty?
    %h3
      = @wave.user.first_name
      hasn't done anything with their profile. Put something here for them!
  - else
    = render :partial => 'wave', :object => @wave
