.overlay {
	display: none;
	width: 400px;
	border: 6px solid #666;
	border: 6px solid rgba(82, 82, 82, 0.8);
	padding: 10px 10px 4px 10px;
	background: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:5px;
	-webkit-box-shadow: 0 0 90px #000;
	-moz-box-shadow: 0 0 90px #000;
	-o-box-shadow: 0 0 90px #000;
	box-shadow: 0 0 90px #000;
}
.ie8 .overlay {
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#333333);
	zoom: 1;
}
.overlay h1 {
	margin: -11px;
	margin-bottom: 0;
	color: #fff;
	background-color: #CCC;
	padding: 5px 10px;
	border: 1px solid #999;
	font-size: 20px;
	font: 20px "Helvetica Neue", 'Myriad Pro', Arial, Helvetica, Geneva, sans-serif;
}
.overlay p {
	color: #333;
	line-height: 1.5;
	text-shadow: 0 1px 0 #fff;
	font: 13px "Helvetica Neue", 'Myriad Pro', Arial, Helvetica, Geneva, sans-serif;	
	margin: 10px 0;
}
.overlay button {
	width: 60px;
	margin: 5px;
	padding: 4px 6px 5px 4px;
	color: #fff;
	float: right;
	position: relative;
	text-shadow: 0 1px 3px #000;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #590000;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(255, 255, 255, 0.2) inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: #3f4e58;
	background: -moz-linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f4e58), color-stop(100%, #2f3a42));
	background: -webkit-linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
	background: -o-linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
	background: -ms-linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
	background: linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
	border: 1px solid #333;
}
.overlay button.ok {
	background: #b94f42;
	background: -moz-linear-gradient(top, #b94f42 0%, #972d20 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b94f42), color-stop(100%, #972d20));
	background: -webkit-linear-gradient(top, #b94f42 0%, #972d20 100%);
	background: -o-linear-gradient(top, #b94f42 0%, #972d20 100%);
	background: -ms-linear-gradient(top, #b94f42 0%, #972d20 100%);
	background: linear-gradient(top, #b94f42 0%, #972d20 100%);	
}
.overlay button.ok:active {
	top: 1px;
	opacity: 1;
	background: #972d20;
	background: -moz-linear-gradient(top, #972d20 0%, #b94f42 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #972d20), color-stop(100%, #b94f42));
	background: -webkit-linear-gradient(top, #972d20 0%, #b94f42 100%);
	background: -o-linear-gradient(top, #972d20 0%, #b94f42 100%);
	background: -ms-linear-gradient(top, #972d20 0%, #b94f42 100%);
	background: linear-gradient(top, #972d20 0%, #b94f42 100%);
}
.overlay button.cancel:active {
	top: 1px;
	opacity: 1;
	background: #2f3a42;
	background: -moz-linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f3a42), color-stop(100%, #3f4e58));
	background: -webkit-linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
	background: -o-linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
	background: -ms-linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
	background: linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
}
.overlay button:hover {
	opacity: 0.95;
}