html.application body {
	background-image: url('/images/dizmdayz/background-header.jpg'), url('/images/dizmdayz/background.jpg');
	background-position: top center, top center;
	background-repeat: no-repeat, repeat-y;
	background-color: #000;
}

html.application .header.primary {
	background: url('/images/dizmdayz/header.png') no-repeat top center;
	margin-top: 140px;
	margin-bottom: 30px;
}

html.application .header.primary ul.nav li a {
	background-image: url('/images/dizmdayz/header.png');
}

html.application .page.footer {
	color: #000;
}

html.application .header.secondary { 
	color: #FFF
}

html.application .header.secondary a:visited,
html.application .header.secondary a:active {
    color: #FFF;
}

/* * * */

html.application .header.primary ul.nav li#nav-1 {
	top: 70px;
	left: 300px;
}

html.application .header.primary ul.nav li#nav-1 a {
	width: 60px;
	height: 16px;
	background-position: -250px -70px;
}

html.application .header.primary ul.nav li#nav-1 a:hover,
html.application .header.primary ul.nav li#nav-1.current a:hover {
	background-position: -250px -129px;
}

html.application .header.primary ul.nav li#nav-1 a:active,
html.application .header.primary ul.nav li#nav-1.current a:active {
	background-position: -250px -129px;
}

html.application .header.primary ul.nav li#nav-1.current a {
	background-position: -250px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-2 {
	top: 70px;
	left: 380px;
}

html.application .header.primary ul.nav li#nav-2 a {
	width: 80px;
	height: 16px;
	background-position: -330px -70px;
}

html.application .header.primary ul.nav li#nav-2 a:hover,
html.application .header.primary ul.nav li#nav-2.current a:hover {
    background-position: -330px -129px;
}

html.application .header.primary ul.nav li#nav-2 a:active,
html.application .header.primary ul.nav li#nav-2.current a:active {
    background-position: -330px -129px;
}

html.application .header.primary ul.nav li#nav-2.current a {
    background-position: -330px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-3 {
	top: 70px;
	left: 478px;
}

html.application .header.primary ul.nav li#nav-3 a {
	width: 60px;
	height: 16px;
	background-position: -428px -70px;
}

html.application .header.primary ul.nav li#nav-3 a:hover,
html.application .header.primary ul.nav li#nav-3.current a:hover {
    background-position: -428px -129px;
}

html.application .header.primary ul.nav li#nav-3 a:active,
html.application .header.primary ul.nav li#nav-3.current a:active {
    background-position: -428px -129px;
}

html.application .header.primary ul.nav li#nav-3.current a {
    background-position: -428px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-4 {
	top: 70px;
	left: 570px;
}

html.application .header.primary ul.nav li#nav-4 a {
	width: 60px;
	height: 16px;
	background-position: -520px -70px;
}

html.application .header.primary ul.nav li#nav-4 a:hover,
html.application .header.primary ul.nav li#nav-4.current a:hover {
    background-position: -520px -129px;
}

html.application .header.primary ul.nav li#nav-4 a:active,
html.application .header.primary ul.nav li#nav-4.current a:active {
    background-position: -520px -129px;
}

html.application .header.primary ul.nav li#nav-4.current a {
    background-position: -520px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-5 {
	top: 70px;
	left: 660px;
}

html.application .header.primary ul.nav li#nav-5 a {
	width: 50px;
	height: 16px;
	background-position: -610px -70px;
}

html.application .header.primary ul.nav li#nav-5 a:hover,
html.application .header.primary ul.nav li#nav-5.current a:hover {
	background-position: -610px -129px;
}

html.application .header.primary ul.nav li#nav-5 a:active,
html.application .header.primary ul.nav li#nav-5.current a:active {
	background-position: -610px -129px;
}

html.application .header.primary ul.nav li#nav-5.current a {
	background-position: -610px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-6 {
	top: 70px;
	left: 736px;
}

html.application .header.primary ul.nav li#nav-6 a {
	width: 52px;
	height: 16px;
	background-position: -686px -70px;
}

html.application .header.primary ul.nav li#nav-6 a:hover,
html.application .header.primary ul.nav li#nav-6.current a:hover {
	background-position: -686px -129px;
}

html.application .header.primary ul.nav li#nav-6 a:active,
html.application .header.primary ul.nav li#nav-6.current a:active {
	background-position: -686px -129px;
}

html.application .header.primary ul.nav li#nav-6.current a {
	background-position: -686px -129px;
}

/* * * */

html.application .header.primary ul.nav li#nav-8 {
	top: 70px;
	left: 820px;
}

html.application .header.primary ul.nav li#nav-8 a {
	width: 70px;
	height: 16px;
	background-position: -770px -70px;
}

html.application .header.primary ul.nav li#nav-8 a:hover,
html.application .header.primary ul.nav li#nav-8.current a:hover {
    background-position: -770px -129px;
}

html.application .header.primary ul.nav li#nav-8 a:active,
html.application .header.primary ul.nav li#nav-8.current a:active {
    background-position: -770px -129px;
}

html.application .header.primary ul.nav li#nav-8.current a {
    background-position: -770px -129px;
}
