html.welcome html {
	background-color: #EEF7FC;
}

html.welcome body {
	background-image: url('/images/dizmdayz/background-header.jpg'), url('/images/dizmdayz/background-footer.jpg'), url('/images/dizmdayz/background.jpg');
	background-position: top center, bottom center, top center;
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-color: #000;
	padding: 100px 0 160px 0;
}

html.welcome p {
    color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome a,
html.welcome a:link,
html.welcome a:hover,
html.welcome a:visited,
html.welcome a:active {
	color: #010101;
}

html.welcome a.ui-button,
html.welcome a.ui-button:link,
html.welcome a.ui-button:hover,
html.welcome a.ui-button:visited,
html.welcome a.ui-button:active {
    color: inherit;
}

html.welcome h1 {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome h2 {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome h3 {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome h4 {
	color: #010101;
	text-shadow: 0 1px 2px #FFF
}

html.welcome label {
	color: #010101;
}

html.welcome input[disabled] {
	color: #AAA;
}

html.welcome .panel.login a.new_password {
	color: #010101;
}

html.welcome .flash.notice a {
	color: #010101;
}

html.welcome .flash.error li {
    color: #FFF;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}
