body {
	font-family: "Gill Sans MT", "Gill Sans", "Lucida Sans", Tahoma, Helvetica, sans-serif;
	font-size: 0.8em
}

#frame {
	margin-left: 221px;
}

.container {
	background-color: rgb(249, 249, 243);
	background:
		-webkit-gradient(linear, 0 0%, 0 80, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 0% 0, 10% 0, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 90% 0, 100% 0, from(rgba(249, 249, 243, 0)), to(lightgrey)),
		-webkit-gradient(linear, 0% 0%, 20% 200, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 100% 0%, 80% 200, from(lightgrey), to(rgba(249, 249, 243, 0))), #FFF;

    -webkit-box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);		
    -moz-box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	border: none;
	width: 90%;
	padding: 12px 12px;
	text-align: left;
	margin: 20px auto;
}

h1 {
	font-size: 2em;
}

input[type='text'],
textarea {
	padding: 6px;
}

select {
	margin-top: 4px;
	margin-bottom: 4px;	
}

label {
	font-size: 1em;
}

.flash.notice {
	color: green;
	margin-right: 8px;
}

.instruction {
	color: gray;
	font-size: 1em;
}

.field_with_errors, 
.formError {
	display: inline;
	color: darkred;
}

.field_with_errors input {
	border: 1px solid darkred;
	color: darkred;
}

.button-bar {
	text-align: right;
	margin: 12px 8px 0 0;
}

.table {
	display: table;
}

.table .tr {
	display: table-row;
	border-top: 1px solid #EEE;
}

.table .tr:first-child {
	border-top: none;
}

.table .td {
	display: table-cell;
	vertical-align: middle;
}
