.button-bar a {
	color: #666;
	text-decoration: none;
}

table.index {
	margin: 0 auto;
}

table.index th {
	font-weight: bold;
}

table.index th,
table.index td {
	text-align: left;
	padding: 5px 20px 10px;
}

table.index th + th,
table.index td + td {
	border-left: 1px dotted grey;	
}

table.index tbody tr:nth-child(odd) {
	background-color: rgba(120, 120, 120, 0.1);
}

table.index tbody tr:hover {
	background-color: #FFFFE8;
}

table.index td.actions {
	text-align: center;
}
table.index td.actions a:nth-child(1) {
	margin-right: 5px;
}

table.index a {
	color: #000;
}

table.index th.launch,
table.index td.launch,
table.index th.invite_only,
table.index td.invite_only,
table.index th.state,
table.index td.state {
	text-align: center;
}

table.index td.state {
	color: green;
}

table.form {
	text-align: left;
	margin: 0 auto;
	width: 100%;
}

table.form td {
	vertical-align: bottom;
	padding-top: 4px;
	padding-bottom: 4px;
}

table.form tr td:nth-child(1) {
	padding-right: 20px;
}

table.form tr.analytics_account_number td,
table.form tr.biometrics td {
	padding-bottom: 10px;
}

table.form tr.biometrics td,
table.form tr.stylesheets td,
table.form tr.assets td {
	vertical-align: top;
	border-top: 1px solid #CCC;
}

table.form tr.assets .tr.asset .td:nth-child(1),
table.form tr.assets .tr.asset .td:nth-child(2) {
	padding: 10px 10px 10px 0;
}

table.form tr.assets .tr.asset .td:nth-child(3) {
	white-space: nowrap;
}

table.form tr.assets .tr.asset.image .td.silhouette {
	text-align: center;
}

table.form input.stylesheet_controller_name {
	margin-bottom: 10px;
}

table.form textarea.stylesheet_css {
	display: block;
	height: 16em;
	min-width: 40em;
	background-color: transparent;
	margin-bottom: 10px;
}

table.form input[type='checkbox'] + label {
	font-weight: normal;
}

table.form tr.assets .tr.asset.constant .td:nth-child(1) input[type='text'],
table.form tr.assets .tr.asset.text .td:nth-child(1) input[type='text'] {
	width: 85px;
}

table.form tr.invite_only td {
	padding-bottom: 10px;
}

table.form .biometric_domain,
table.form .stylesheet {
	border-top: 1px solid #CCC;
	padding-top: 10px;
	margin: 10px 0;
}

table.form .biometric_domain:first-child,
table.form .stylesheet:first-child {
	border-top: none;
	padding-top: 4px;
	margin: 0;
}
