.DS_Store
.bundle
db/*.sqlite3
log/*.log
log/*.pid
tmp/**/*
bin/*
index/*
db/sphinx/*
config/database.yml
config/*.sphinx.conf
*.tmproj
db/dumps/*
public/system
public/stylesheets/cached.css
public/stylesheets/**/cached.css
public/stylesheets/welcome-cached.css
public/stylesheets/**/welcome-cached.css
public/javascripts/cached.js
public/javascripts/welcome-cached.js

