.DS_Store
.bundle
.env.*
!.env.development
.footnotes
.rspec
*.swp
*.esproj
*.tmproj
bin/*
config/*.sphinx.conf
config/database.yml
config/environments/development.rb
db/*.sqlite3
db/dumps/*
db/sphinx/*
index/*
log/*.log
log/*.pid
public/biorealism/*.esproj
public/images/users/*
public/javascripts/*.cache.js
public/stylesheets/**/*.cache.css
public/stylesheets/all.css
public/system
tags
test/fixtures/assets/**/*.jpg
test/fixtures/assets/**/*.png
tmp/**/*
