<div class='footer'>
<p>
<span>Follow us at&nbsp;<%= link_to_facebook %></span>
|
<span>&copy;&nbsp;<%= Date.today.year -%>&nbsp;Frisky Factory LLC, New York, NY</span>
|
<span>About Us</span>
|
<span>Join our team!</span>
<% if Rails.env.development? %>
| <%= link_to 'Show Grid', '#', :id => 'show_grid' %>
  <% javascript_tag do %>
    jQuery(document).ready(function($) {
      $('a#show_grid').click(function() {
        $('.container_16').toggleClass('grid');
        return false;
      });
    });
  <% end %>
<% end %>
</p>
</div>
