<div class='footer'>
<p>
<span>Follow us at&nbsp;<%= link_to_facebook %></span>
|
<span>&copy;&nbsp;<%= Date.today.year -%>&nbsp;Frisky Factory LLC, New York, NY</span>
<%= render :partial => '/layouts/grid' %>
</p>
</div>
