#primary_header.header.primary
  .container_16
    .grid_3
      = image_tag 'logo-24t.png'
    .grid_13
      = render :partial => "layouts/#{current_site}/menu_bar"
#secondary_header.header.secondary
  .container_16
    .grid_3
    .grid_12
    .grid_1