<div id='primary_header' class='header primary'>
	<div class='container_16'>
		<div class='grid_3'>
			<%= image_tag 'logo-24t.png' -%>
		</div>
		<div class='grid_13'>
			<%= render :partial => "layouts/#{current_site}/menu_bar" %>
		</div>
	</div>
</div>
<div id='secondary_header' class='header secondary'>
	<div class='container_16'>
		<div class='grid_3'></div>
		<div class='grid_12'></div>
		<div class='grid_1'></div>
	</div>
</div>
