<% content = yield(:sidebar) %>
<% unless content.nil? %>
<%= content %>
<% else %>
<div class='grid_3'>
<%# thumb_image_tag(current_user, :online_badge => false, :class => 'button') %>
<p class='flash'><%= flash[:notice] || '&nbsp;' %></p>
</div>
<% end %>
