<div class='grid_16 alpha omega messages'>
	<h1>Messages</h1>
	<%= render :partial => 'thread', :collection => @message_threads %>
</div>

<%- javascript_tag do -%>
	jQuery(document).ready(function(){
		jQuery('button[type=submit], input[type=submit]').button();
		jQuery('button.view').button({ icons: { primary: 'ui-icon-triangle-1-n' }, text: false });
		jQuery('button.delete').button({ icons: { primary: 'ui-icon-close' }, text: false });
		jQuery('button.pencil').button({ icons: { primary: 'ui-icon-pencil' }, text: false });
		
		jQuery('button.pencil').click(function(){
			jQuery(this).parent().parent().find('.reply').show();
			jQuery(this).hide();
		});		
	});
<%- end -%>
