:plain    
  Hey #{@message.receiver.handle(@message.site)},

  You have a new message from #{@message.sender.handle(@message.site)}.

  To get your message, click the following link:

  #{inbox_url(:host => "#{@message.site.name}.com")}

  To unsubscribe from these messages, send an email to michael@friskyfactory.com, and we'll remove you right away.

  Frisky Factory, LLC
  151 First Ave, Suite 205
  New York, NY 10003
