!!! html
%html
  %head
    :css
      h1 { font-size: 1em; }
  %body
    %h1
      Q: How do I reset my FriskyHands' password?
    %p
      = "A: Hey #{@user.first_name},"
    %p
      A request was sent to FriskyHands to reset your FriskyHands' password. To do so, click the following link:
    %p
      = edit_password_url(@user.perishable_token)
    %p
      (If you didn't request to reset your FriskyHands' password, you can safely ignore this email).
    %p
      From Michael
      michael@friskyhands.com
