:plain
  Hey #{@user.default_personage.handle},

  A request was made to reset your #{@site.display_name} password. To do so, click the following link:

  #{edit_password_url(:id => @user.perishable_token, :host => @host)}

  (If you didn't request to reset your password, you can safely ignore this email).

  If you're still having trouble, email michael@friskyfactory.com

  FriendFactory, LLC
  151 First Ave, Suite 205
  New York, NY 10003
