/*.container_16 {
	background: #fff url(../../img/16_col.gif) repeat-y;
}*/

body, p, h1, h2, h3, label, input, textarea, a, .formError {
	font-family: "Gill Sans MT", "Gill Sans", "Lucida Sans", Tahoma, Helvetica, sans-serif;
}

body {
	-webkit-user-select: none;
	background: url('/images/friskyhands/golden_fibers.png') repeat-y top center #CEC2A2;
}

.hidden {
	display: none;
}

a:focus {
	outline: none;
	-moz-outline: none;
}


/* * * * * * * * * * * * *
/* Legacy */

h1 {
	color: #501508;
	font-size: 2em;	
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

h2 {
	color: #501508;
	font-size: 1.6em;
}

h3 {
	color: #501508;
	font-size: 1.2em;
}

p {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

a {
	text-decoration: none;
}

.unobtrusive {
	color: gray;
}

.prepend-top {
	margin-top:1.5em;
}

.append-bottom {
	margin-bottom:1.5em;
}

.footer {
	clear: both;
	text-align: center;	
	color: #501518;
	margin-top: 20px;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

.formError {
	padding-left: 6px;
	font-size: 0.9em;
}

.flash {
	color: #501508;
}

.distance_of_time {
	color: gray;
	font-size: 0.9em;
}

/*.container {
    min-height: 30em;
}*/

img.thumb, img.portrait, img.photo {
	border: 1px solid lightgray;
	padding: 2px;
}

img.online {
	padding: 1px;
	border: 2px solid lightgreen;
}

.posting_avatar {
    position: relative;
}

.posting_avatar img.flag_hottie {
    position :absolute;
    top: -9px;
    left: -16px;
}

input[type=text],
input[type=password],
textarea  {
	padding: 6px;
	width: 90%;
	font-size: 12px;
}

input.placeholder,
textarea.placeholder {
	color: #999 !important;
}

/*.ui-button .ui-button-text {
	line-height: 1.2em;
}*/

/* MJB Fixed Changed .ui-icon-primary to .ui-button-icon-primary */
.ui-button-text-icon .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}

a.profile {
	font-weight: bold;
	color: #9C180C;
}

div.header { 
	background: url(/images/friskyhands/header-background-red-24.png) no-repeat top center;
	background-color: #9C180C;
}

div.header ul.menu_bar {
	padding-top: 20px;
    height: 1.6em;
    overflow: hidden;
}

div.header ul.menu_bar li {
	display: block;
	float: left;
	cursor: pointer;
	text-align: left;
	list-style-type: none;
	font-weight: normal;	
	color: #ECC;
	padding: 0 1em 1em 0;
}

div.header ul.menu_bar li a {
	color: #FFF;
	text-decoration: none;
}

div.header ul.menu_bar li.secondary {
	float: right;
}

div.header ul.menu_bar li.search {
	position: relative;
	top: -10px;
}

div.header.primary {
	height: 62px;
	padding: 0 0.5em;
}

div.header.primary img {
	width: 160px;
	margin-right: 10px;
}

div.header.secondary {
	position: absolute;
	left: 0;
	top: 62px;
	width: 100%;
 	z-index: 999;
}

div.header.secondary > div {
	position: relative;
	top: -12px;
}

div.header.secondary.login {	
	height: 120px;
}

div.header.secondary.login #form_errors {
	display: inline;
}

div.footer span {
	margin: 0 5px;
}

a.web_logos {
	background: url(/images/web_logos.png);
	width: 18px;
	height: 18px;
	display: inline-block;
	position: relative;
	top: 4px;
	margin: 0 3px;
}

a.web_logos.facebook {
	background-position: -96px 0;
}
