/*.container { background: url(/stylesheets/blueprint/src/grid.png; } */

p, h1, h2, h3, label, input, .formError {
	font-family: "Gill Sans MT", "Gill Sans", "Lucida Sans", Tahoma, Helvetica, sans-serif;
}

.container {
	margin-bottom: 4em;
}

.footer {
	text-align: center;	
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

div.formError {
	padding-left: 6px;
	font-size: 0.8em;
}

input[type=text],
input[type=password],
textarea  {
	padding: 6px;
	width: 100%;
}

input.placeholder,
textarea.placeholder {
	color: #999 !important;
}

.ui-button .ui-button-text { line-height: 1.2em;  }

/* MJB Fixed Changed .ui-icon-primary to .ui-button-icon-primary */
.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}

body.welcome {
	background: url(/images/background-red-24.png) no-repeat top center;	
	background-color: #9C180C;
}

body.welcome .container {
	padding-top: 4em;
	min-height: 600px;
	text-align: center;
}

body.welcome h1 {
	font-size: 4em;
	text-shadow: 1px 2px 1px #701518;
	color: #FFF;
}

body.welcome h2 {
	font-size: 2em;
	line-height: 1.4em;
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

body.welcome h3 {
	color: #FFF;
	font-size: 1.4em;
	text-shadow: 1px 2px 1px #701518
}

body div.formError {
	color: #FFF;
}

body.welcome div#creative {
	text-align: left;
}

body.welcome div#login,
body.welcome div#signup {
	width: 100%;
}

body.welcome div#blurb {
	min-height: 20em;
}

body.welcome div#blurb p {
	padding: 0 1.2em;
	font-size: 1.6em;
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}
