@font-face {
	font-family: "Chalkduster";
	src: url('/fonts/Chalkduster.ttf');
	font-weight: normal;
}

body 
{
	margin: 0px;
	-webkit-user-select: none;
	background: url('/images/friskyhands/golden-fibers.jpg') repeat-y top center #CEC2A2;
}

.hidden {
	display: none;
}

/* Styles the "Card Flip" page and creates a placeholder for the card */
.polaroid-container {
	/* Set these dimensions so the card can be properly displayed in Safari on iPhone */
	height: 356px;
	width: 320px;
	position: relative;
	
	/* Disable tap highlighting */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	/* Give some depth to the card */
	-webkit-perspective: 1200;
	margin: 5em auto;
}


/* Applies 3D transform and transition effects to the card. The card has two states: regular and flipped.
   A card is in a regular state when there is an empty transform applied to it, and otherwise in a flipped
   state, where there is a rotational transformation applied. This class is used when the card is in the regular state.
   The "card flipped" class is used when the card is in the flipped state. 
*/
.polaroid 
{
	position: absolute;
	height: 350px;
	width: 290px;
	
	/* Ensure that the card lives correctly in 3D space */
	-webkit-transform-style: preserve-3d;
	
	/* We apply this property to the card so it can smoothly flip between its sides */
	-webkit-transition-property: -webkit-transform;
	
	/* Make the animation occur over a period of 1.5 seconds */
	-webkit-transition-duration: 1s;
	
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}


/* Applies the flip animation to the card */
.polaroid.flipped
{

	/* Rotate the card 180 degrees along the y-axis. This animation allows the card to
	  toggle between its regular and flipped states. */
	-webkit-transform: rotate(2deg) rotateY(180deg);
}


/* Styles the card and hides its "back side" when the card is flipped */
.face 
{
	position: absolute;
	height: 320px;
	width: 260px;
	padding: 15px;
	/* Give a round layout to the card */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	/* Drop shadow around the card */
    -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);

	/* Make sure that users will not be able to select anything on the card */
	
	/* We create the card by stacking two div elements at the exact same location. The back of the card 
	   is shown when we rotated the card 180 degrees along the y-axis. Setting this property to hidden
	   ensures that the "back side" is hidden when the card is flipped
	*/
	-webkit-backface-visibility: hidden;
}

.face {
	background: url(/images/friskyhands/polariod.jpg);
}

.front.face .header {
	font-size: 18px;
	font-family: Chalkduster;
	color: rgb(0, 0, 0);
	margin-top: 5px;
	width: 100%;
}

.front.face table.header .username {
	text-align: left;
	vertical-align: top;
}

.front.face table.header .status {
	vertical-align: top;
	padding-top: 6px;
	text-align: right;
	font-family: Gill Sans, Trebuchet MS, Verdana, Arial;
	font-size: 12px;
	color: #666;
}

/* Styles the front of the card */
.front.face 
{
	/* Set the color of the suit characters on the card */
/*	color: rgb(78,150,249);*/
	/* Background color of this side of the card */
/*	background-color: rgb(255,255,255);*/
/*	background: url('/images/friskyhands/polariod.jpg');
*/}


/* Styles the back of the card */
.back.face
{
	color: rgb(34,65,108);
		
	/* Ensure the "back side" is flipped already */
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
