input[type=password] {
	font-family: "Lucida Sans", Tahoma, Helvetica, sans-serif;
}

.ui-widget {
	font-size: 0.8em;
}

.ui-button {
	margin-right: 0.4em;
}

.ui-button .ui-button-text { line-height: 1em;  }
