/*body.welcome label {
	position: relative;
	top: -7px;
}*/

/*body.welcome input[type=submit] {
	position: relative;
	top: 6px;
}*/

input[type=password] {
	font-family: Arial;
}

.ui-widget {
	font-size: 0.8em;
}

button.ui-button {
	margin-right: 0.4em;
}

.ui-button .ui-button-text { line-height: 1em;  }
