.messages .message {
	clear: both;
	padding-top: 1em;
}

.messages .message img {
	float: left;
	padding-right: 1em;
}

.messages .message .sender {
	white-space: nowrap;
}

.messages .message .created_at {
	color: gray;	
	font-size: 0.9em;
}

.messages .message .subject {
	font-weight: bold;
}

.messages .message textarea {
	height: 5em;
}

.messages .actions {
	white-space: nowrap;
	padding-right: 0px;
	text-align: left;
}

.messages .message.thread {
	padding-top: 2px;
	padding-bottom: 2px;
}

.messages .message .reply {
	padding: 0.5em;
}

.messages .message.thread .message {
	background-color: #FEE;
	padding: 0.5em;
}

.messages .message.thread .body {
	font-size: 0.9em;
	display: table;
}

.messages .message .reply form {
	display:table;
}

.messages .message .reply input[type=submit] {
	margin-left: 0px;
}

.messages .message.thread .full_name,
.messages .message.thread .created_at {
	display: inline;
}
