@font-face {
	font-family: "Chalkduster";
	src: url('/fonts/Chalkduster.ttf');
	font-weight: normal;
}

.polaroid-container {
	height: 356px;
	width: 320px;
	position: relative;	
	z-index: 1000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
	-webkit-perspective: 1200;
}

.polaroid  {
	position: absolute;
	height: 350px;
	width: 290px;	
	-webkit-transform-style: preserve-3d;	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;	
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

.polaroid.flipped {
	-webkit-transform: rotate(2deg) rotateY(180deg);
}

.polaroid .face {
	position: absolute;
	height: 320px;
	width: 260px;
	background: url(/images/friskyhands/polariod.jpg);
	padding: 15px;
	border-radius: 5px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
	-webkit-backface-visibility: hidden;
}

.front.face .header {
	font-size: 18px;
	font-family: Chalkduster;
	color: rgb(0, 0, 0);
	margin-top: 5px;
	width: 100%;
}

.front.face table.header .username {
	text-align: left;
	vertical-align: top;
}

.front.face table.header .status {
	vertical-align: top;
	padding-top: 6px;
	text-align: right;
	font-family: Gill Sans, Trebuchet MS, Verdana, Arial;
	font-size: 12px;
	color: #666;
}

.back.face {
	color: rgb(34,65,108);
/*	-webkit-transform: rotateY(180deg);*/
/*	-moz-transform: rotateY(180deg);*/
}
