.posting {
	display: table;
	width: 100%;
}

#postings > .posting {
	border-bottom: 1px solid #CCC;
	padding: 20px 0;
}

.posting > table td {
	vertical-align: top;
}

/* * * * * * * * * */

img.photo.medium {
	width: 460px;
}

object {
    border: 1px solid lightgray;
    padding: 2px;
}

/* * * * * * * * * */

form.edit_user_info > table {
	width: 100%;
	background-color: #F7F7F7;
	border-collapse: separate;
	border-spacing: 0 8px;
}

form.edit_user_info > table td.label {
	width: 100px;
	padding-right: 1em;
	text-align: right;
}

form.edit_user_info > table td.label.textarea {
	padding-top: 10px;
}

form.edit_user_info > table td.label.about_me {
	vertical-align: top;
}

/* * * * * * * * * */

.wave_profile > table {
	width: 100%;
}

.wave_profile > table td {
	vertical-align: top;
}

.wave_profile > table td.avatar {
	width: 106px;
}

/* * * * * * * * * */

.posting.user_info {
	width: 100%;
}

.posting.user_info > table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 8px;	
}

.posting.user_info > table td.label {
	width: 100px;
	padding-left: 1em;	
}

/* * * * * * * * * */

.posting_text > table {
	width: 100%;
}

.posting_text > table p.body {
	margin-bottom: 0.5em;
}

.posting td.avatar {
	width: 118px;
}

.posting img.avatar.thumb {
	margin-right: 12px;
}

.posting_text .subject {
	font-weight: bold;
}

/* * * * * * * * * */

.posting_comment {
	background-color: #F7F7F7;
	width: 460px;
	font-size: 0.9em;
	margin: 4px 0;
}

.posting_comment > table {
	width: 100%;
}

.posting_comment > table td div:first-child {
	margin-top: 0.5em;
}

.posting_comment > table p.body {
	margin-bottom: 0.5em;
}

.posting_comment > table textarea {
	height: 1.2em;
	width: 93%;
}

.posting_comment > table td.avatar {
	width: 52px;
}

.posting_comment > table td.avatar img.avatar {
	border: 0px;
	margin: 0.5em 10px 0.5em 4px;
	width: 36px;
}

/* * * * * * * * * */

.posting_message > table {
	width: 100%;
}

tr.posting_message td {
    padding: 5px 0;
}

.posting_message > table td.button_bar {
    vertical-align: bottom;
}

.posting_message h3 {
    margin-bottom: 10px;
}

.posting_message td.avatar.small {
	width: 40px;
}

.posting_message img.avatar.small {
	margin-right: 8px;
	width: 28px;
}

.posting_message textarea {
    height: 5.8em;    
}

/* * * * * * * * * */


.posting_video > table {
    width: 100%
}

/* * * * * * * * * */

.posting_photo > table {
	width: 100%;
}

/* * * * * * * * * */

.tab_content {
	border-bottom: 1px solid #CCC;
	width: 100%;
	padding-bottom: 20px;
}

.tab_content > table {
	width: 100%;
}

.tab_content > table td {
	vertical-align: top;
}

.tab_content td.avatar {	
	width: 106px;
}

.tab_content td.avatar img.avatar.thumb {
	margin-right: 12px;
}

.tab_content h2 {
	margin: 10px 0;
}

/* * * * * * * * * */

#text.tab_content input[type=text] {
	margin-top: 0;
}

#text.tab_content textarea {
	height: 5.8em;
}

/* * * * * * * * * */

#photo.tab_content table.button_bar,
#avatar.tab_content table.button_bar {
	border-spacing: 0px 4px;
	border-collapse: separate;	
	width: 70%
}

#photo.tab_content table.button_bar td,
#avatar.tab_content table.button_bar td {
	vertical-align: center;
	background-color: #F7F7F7;
}

#photo.tab_content table.button_bar td.file_field,
#avatar.tab_content table.button_bar td.file_field {
	padding: 8px 8px;
}

#photo.tab_content table.button_bar td.submit,
#avatar.tab_content table.button_bar td.submit {
	padding: 0 8px;
}

/* * * * * * * * * */

#video.tab_content input[type=text] {
	margin-top: 0;
}

#video.tab_content textarea {
	height: 5.8em;
}


