.wave > .posting {
	border-bottom: 1px solid #CCC;
	width: 100%;
	padding: 20px 0;
}

.posting {	
	display: table;
}

.posting table td {
	vertical-align: top;
}

.posting p.body {
	margin-bottom: 10px;
}

.posting .posting_comment {
	background-color: #F7F7F7;
	width: 70%;
	font-size: 0.9em;
	margin: 8px 0;
}

/*.posting_message {
	padding: 0px;
	margin: 0px;
	border: 0px;
}*/

.posting_message.left {	
}

.posting_message.right {
}


.posting img.avatar {
	margin-right: 12px;
}

.posting_comment img.avatar {
	margin-right: 10px;
	width: 50px;
}

.posting_message img.avatar {
	margin-right: 8px;
	width: 32px;
}
