#avatar_upload_well > div {
	float: left;
	margin-right: 1em;
}

#avatar_upload_well div.portrait {
	width: 210px;
}

#avatar_upload_well div.thumb {
	width: 110px;
}

select {
	width: 12em;
}

select.ff-date {
	width: auto;
}

table.ff-table-user-info {
	width: 100%;
	background-color: #F7F7F7;
	border-collapse: separate;
	border-spacing: 0 8px;
}

td.ff-table-label {
	width: 100px;
	padding-right: 1em;
	text-align: right;
}

td.ff-table-label.textarea {
	padding-top: 10px;
}

td.ff-table-detail {
/*	padding: 0.6em 1em;*/
}

td.ff-table-label.about_me {
	vertical-align: top;
}
