.wave_profile .sidebar .posting_avatar {
    margin: 1em 0;
}

.wave_profile .sidebar img.avatar {
    width: 100%;
}


#avatar_upload_well > div {
	float: left;
	margin-right: 1em;
}

#avatar_upload_well div.portrait {
	width: 210px;
}

#avatar_upload_well div.thumb {
	width: 110px;
}

select {
	width: 12em;
}

select.date {
	width: auto;
}
