.content {
	width: 260px;
	height: 300px;
	margin-bottom: 5px;
}

.scrollable {
	position: relative;
	overflow: hidden;
}

.scrollable .items {
	width: 1600px;
	position: absolute;
}

.scrollable .items div {
	float: left;
	width: 260px;
}
