.scrollable {
	position: relative;
	overflow: hidden;
	width: 260px;
	height: 300px;
}

.scrollable .items {
	width: 1400px;
	position: absolute;
}

.scrollable .items div {
	float: left;
	width: 300px;
}
