body {
/*	background: #FAF3E1;
	background: url(/images/friskyhands/background-2.png);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(89, 63, 48, 1)), to(rgba(250, 243, 225, 1)));
	background:	-moz-linear-gradient(top, #593F30, #FAF3E1 20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#593F30', endColorstr='#FAF3E1') */
}
