.wave_shared .post_it {
    position: relative;
    background: url('/images/friskyhands/post-it.png') no-repeat top left;
    width: 210px;
    height: 130px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.wave_shared .post_it img.avatar {
    position: relative;
    float: left;
    top: -6px;
    margin-left: 16px;
    margin-right: 12px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.wave_shared .post_it p {
    line-height: 1.4em;
	font-size: 0.8em;
    color: gray;
}

.wave_shared .post_it.with_avatar p.header {
    float: left;
    width: 80px;
    padding-top: 14px;
}

.wave_shared .post_it.without_avatar p.header {
    float: left;
    width: 150px;
    padding-top: 20px;
    margin-left: 20px;
}

.wave_shared .post_it p.body {
    width: 100%
}
