.wave_shared .post_it {
    position: relative;
    background: url('/images/friskyhands/post-it.png') no-repeat top left;
    width: 190px;
    height: 130px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.wave_shared .post_it img.avatar {
    position: relative;
    float: left;
    margin-left: 18px;
    margin-right: 12px;
    width: 60px;
    height: 60px;
    -webkit-box-shadow: 3px 3px 6px #873;
    -moz-box-shadow: 3px 3px 6px #873;
    box-shadow: 3px 3px 6px #873;
}

.wave_shared .post_it p {
    line-height: 1.4em;
	font-size: 0.8em;
    color: gray;
}

.wave_shared .post_it p.header {
    float: left;
    width: 80px;
    padding-top: 14px;
}

.wave_shared .post_it p.header_no_avatar {
    float: left;
    width: 150px;
    padding-top: 20px;
    margin-left: 20px;
}

.wave_shared .post_it p.body {
    width: 100%
}
