.container {
	padding-top: 4em;
	text-align: center;
}

body {
	background: url(/images/friskyhands/background-red-24.png) no-repeat top center;	
	background-color: #9C180C;
}

p {
    font-size: 1.2em;
    color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
    line-height: 1.4em;    
}

ul.flash.error li {
    font-size: 1.1em;
    color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
    line-height: 1.4em;
}

img {
	width: 100%;
}

a, a:link, a:hover, a:visited, a:active {
    border-bottom: 1px dotted #FFF;
    color: #501518;
}

h1 {
	font-size: 3em;
	text-shadow: 4px 8px 6px #701518;
	color: #FFF;
}

h2 {
	font-size: 2em;
	line-height: 1.4em;
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

h3 {
	color: #FFF;
	font-size: 1.4em;
	text-shadow: 1px 2px 1px #701518;
	margin-bottom: 12px;
}

h4 {
	padding-right: 1em;
	font-size: 1.8em;
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
	line-height: 1.4em;
	font-weight: normal;
}

input[type='text'],
input[type='password'] {
    width: 210px;
}

.creative {
    text-align: left;
    padding-bottom: 4em;
}

.blurb p {
    padding-right: 20px;
    font-size: 1.4em;
}

.panel.login,
.panel.signup,
.panel.new_password {
	padding-top: 1em;
	width: 100%;
}

.button-bar button {
    float: left;
    margin-right: 8px;
}

.button-bar a {
    margin-top: 0.5em;
}

.panel.login h3 {
    float: left;
}

.panel.login a.lurk {
    float: right;
    margin-right: 0;
    color: #FFF;
    font-size: small;
    margin-top: 12px;
}

.panel.login a.new_password {
    float: right;
    color: #FFF;
    font-size: small;
}

.button-bar {
    height: 2em;
}

.panel p {
    clear: both;
    margin-top: 0.6em;
}

ul.flash.error {
	margin-left: 1em;
	list-style: disc outside;
	marker-offset: auto;
}

.flash.notice {
    text-align: center;
}

.flash.notice a {
    color: #FFF;
}

.password-edit h3 {
    text-align: center;
}

.password-edit label {
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);    
}

.password-edit table td {
    vertical-align: middle;
}
