html {
	background-color: #9C180C;	
}

body {
/*	background: url(/images/friskyhands/background-24.jpg) no-repeat top center; */
	background-color: #9C180C;
}

p {
    color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

a, a:link, a:hover, a:visited, a:active {
    color: #501518;
}

h1 {
	color: #FFF;
	text-shadow: 4px 8px 6px #701518;
}

h2 {
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

h3 {
	color: #FFF;
	text-shadow: 1px 2px 1px #701518;
}

h4 {
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

label {
    color: #501518;
/*	color: #FFF;*/
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

.panel.login a.new_password {
    color: #FFF;
}

.flash.notice a {
    color: #FFF;
}

.flash.error li {
    color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}
