.wave[@wave]
  .grid_16
    .tag-cloud
      - tag_cloud(@tags, %w(tag1, tag2, tag3, tag4)) do |tag, css_class|
        = link_to tag.name, rollcall_path(:tag => tag.name), :class => css_class
    .postings
      - @wave.profiles.in_groups_of(3) do |group|
        - group.each_with_index do |profile, idx|
          - unless profile.nil?
            = render :partial => 'postings/avatars/polaroid', :locals => { :profile => profile, :css_class => (idx == 2 ? 'omega' : '') }
