- if ambassadors.present?
  %ul.block.ambassadors
    - ambassadors.each do |user|
      %li
        .portrait= thimble_image_tag(user)
        = link_to "#{user.handle}'s Wave", url_for(user.profile), :class => 'handle'
        