%script#reaction-template{:type => "text/x-jquery-tmpl"}
  .mini_comment{ uid, gid }
    .portrait
      %a{ :href => '${ profile_path }', :'data-remote' => 'true' }
        %img{ :src => '${ image_path }', :width => '32', :height => '32', :title => '${ handle }' }/
    .comment
      %p
        %a{:href => ""} ${ handle }
        \-
        %a{ :href => '/postings/${ posting_id }/comments', :'data-remote' => "true", :class => 'comments' } ${ body }
      %span.date Posted ${ updated_at } ago
      %span.comments
        %a{ :href => '/postings/${ posting_id }/comments', :'data-remote' => "true" } Reply
