.posting[comment]
  %table
    %tr
      %td.avatar= thumb_image_tag(comment.user.profile.avatar) rescue nil
      %td
        %div
          = link_to_profile(comment.user) if comment.user
          = distance_of_time_in_words_to_now(comment.created_at)
        %p.body= comment.body