.badge.prefix_3.grid_10.suffix_3
  = image_tag 'badge.png', :size => '520x220', :site => true
  %h1 Feel the Motion of the Ocean
  %h4 FriskyAtlantis is the new destination for the gay seaman.          
  .grid_8.prefix_1.suffix_1.alpha.omega
    %p Before setting sail find guys for friends, dating, and lovers in a great environment where privacy is a priority.
