- stylesheet 'app/admin/admin'
- javascript 'app/admin/invitation/invitations'
.grid_14.push_1.admin.notice.canvas.invitation.universals
  %h1 New Universal Invitation
  = form_for @posting, :url => admin_invitation_universals_path do |f|
    = render :partial => 'form', :locals => { :f => f }
