.post.blog .cell {
	overflow: hidden;
}

.new_post.blog .foot .sticky_until {
  margin: 5px 0 5px 10px;
  float: left;
  color: #666;
  font: italic 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
