.post.blog .cell {
	overflow: hidden;
}

.new_post.blog .foot .sticky_until {
  margin: 5px 0 5px 10px;
  float: left;
  color: #666;
  font: italic 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.ie8 .new_post.blog .body {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}
