.post.blog .cell {
	overflow: hidden;
	background: #FFF;
	font: 13px "Helvetica Neue", 'Myriad Pro', Arial, Helvetica, Geneva, sans-serif;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	padding-bottom: 10px;
}

.new_post.blog textarea {
	display: block;
	font: 12px/1.25 Monaco, monospace;
}

.new_post.blog .foot .sticky_until {
	float: left;
	margin: 5px 0 5px 10px;
	color: #666;
	font: italic 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.new_post.blog .foot .instructions {
	float: left;
	margin: 8px 0 5px 10px;
	color: #666;
	font: italic 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.ie8 .new_post.blog .body {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}

.new_post.blog .body {
	height: auto;
}

.new_post.blog.preview {
	border-bottom: none;
}

.new_post.blog.preview .body {
	padding: 10px;
	width: 290px;
	height: auto;
	min-height: 50px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	overflow: auto;
}

.new_post.blog.preview .foot {
	width: 310px;
}

.blog.preview .body strong,
.blog.post .cell strong {
	font-weight: bold;
}

.blog.preview .body em,
.blog.post .cell em {
	font-style: italic;
}

.blog.preview .body h1,
.blog.post .cell h1 {
	margin: 12px 0;
	font-size: 22px;
	line-height: 1em;
	font-weight: normal;
}

.blog.preview .body h1:first-child,
.blog.post .cell h1:first-child {
	margin-top: 0;
}

.blog.preview .body h2,
.blog.post .cell h2 {
	margin: 12px 0;
	font-size: 18px;
	line-height: 1em;
}

.blog.preview .body h3,
.blog.post .cell h3,
.blog.preview .body h4,
.blog.post .cell h4,
.blog.preview .body h5,
.blog.post .cell h5,
.blog.preview .body h6,
.blog.post .cell h6 {
	margin: 12px 0;
	line-height: 1em;
}

.blog.preview .body h3,
.blog.post .cell h3 {
	font-size: 16px;
}

.blog.preview .body h4,
.blog.post .cell h4 {
	font-size: 14px;
}

.blog.preview .body h5,
.blog.post .cell h5 {
	font-size: 12px;
}

.blog.preview .body h6,
.blog.post .cell h6 {
	font-size: 10px;
	color: #999;
}

.blog.preview .body hr,
.blog.post .cell hr {
	margin: 6px 0;
	border: none;
	border-top: 1px solid #cccccc;;
	clear: both;
}

.blog.preview .body p + p,
.blog.post .cell p + p {
	clear: both;
}

.blog.preview .body p,
.blog.post .cell p,
.blog.preview .body ol,
.blog.post .cell ol,
.blog.preview .body ul,
.blog.post .cell ul {
	margin: 5px 0;
	line-height: 1.5em;
}

.blog.preview .body > ol:after,
.blog.post .cell > ol:after,
.blog.preview .body > ul:after,
.blog.post .cell > ul:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.blog.preview .body p:first-child,
.blog.post .cell p:first-child {
	margin-top: 0;
}

.blog.preview .body ul,
.blog.post .cell ul {
	padding: 0;
	list-style: disc outside;
}

.blog.preview .body li,
.blog.post .cell li {
	clear: both;
}

.blog.preview .body li ol,
.blog.post .cell li ol,
.blog.preview .body li ul,
.blog.post .cell li ul {
	margin: 0;
}

.blog.preview .body li li,
.blog.post .cell li li {
	margin-left: 32px;
}

.blog.preview .body blockquote,
.blog.post .cell blockquote {
	margin: 12px 0;
	font-style: italic;
	font-family: Georgia, serif;
	color: #440077;
}

.blog.preview .body blockquote em,
.blog.post .cell blockquote em {
	font-style: normal;
}

.blog.preview .body pre,
.blog.post .cell pre {
	margin: 24px 0;
	border: 1px solid #cccccc;
	padding: 1px;
	white-space: pre-wrap;
}

.blog.preview .body pre > code,
.blog.post .cell pre > code {
	display: block;
	padding: 12px 18px;
	font-size: 18px;
	line-height: 24px;
}

.blog.preview .body code,
.blog.post .cell code {
	background: #eeeeee;
	padding: 0 0.25em;
	line-height: 1;
}

.blog.preview .body a,
.blog.post .cell a {
	text-decoration: none;
}

.blog.preview .body a:focus,
.blog.post .cell a:focus,
.blog.preview .body a:hover,
.blog.post .cell a:hover {
	outline: none;
	text-decoration: underline;
}

.blog.preview .body img,
.blog.post .cell img {
	float: left;
	margin: 2px 2px 5px 2px;
	max-width: 141px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.blog.preview .body img:only-of-type,
.blog.post .cell img:only-of-type {
	width: 286px;
	max-width: 286px;
}

.blog.preview .body img:last-of-type:after,
.blog.post .cell img:last-of-type:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.blog.preview .body li > img,
.blog.post .cell li > img {
	max-width: 96px !important;
	margin-right: 10px;
	margin-bottom: 5px;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
}

.blog.post .cell p.footer {
	margin: 10px 0 0 0;
	clear: both;
}
