.comment_box {
	position: relative;
	margin: 0;
	padding: 5px 0 0 0;
	width: 490px;
}

.comment_box.nested {
	margin-left: 50px;
	padding-left: 10px;
	width: 430px;
}

.comment_box.nested .comment,
.comment_box.nested textarea {
  width: 360px;
}

.comment_box.nested form,
.comment_box.nested .foot {
  width: 380px;
}

.comment_box .comment {
	min-height: 20px;
	padding: 8px 10px 6px 10px;
	width: 420px;
}

.ie8 .comment_box .comment {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}

.comment_box .comment p {
  margin-bottom: 0px;
}

.comment_box .reply,
.comment_box .remove {
  float: right;	
}

.comment_box .reply a {
  color: #666;
  font-size: 11px;
  margin: 5px;
}

.comment_box form {
	width: 440px;
}

.comment_box form input[type='text'],
.comment_box form textarea {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.comment_box form textarea {
	width: 420px;
}

.comment_box form .foot {
  width: 430px;
}

.comment_box form .foot input[type="submit"],
.comment_box form .foot input[type="button"] {
	height: inherit;
	padding: 3px 8px 4px 8px;
}

.comment_box form .foot input[type="submit"]:disabled,
.comment_box form .foot input[type="submit"]:disabled:active {
	border: 1px solid #333;
	background: gray !important;
	opacity: 0.6;
	top: 0;
}

.comment_box .remove {
	width: 20px;
	height: 20px;
	line-height: 15px;
	position: absolute;
	right: 8px;
	top: 8px;
	color: #333;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	background: transparent;
	cursor: pointer;
	display: block;
	text-decoration: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-ms-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}

.comment_box:hover .remove {
	visibility: hidden;
	opacity: 0;
}

.ie .comment_box .remove {
	top: 12px;
}

.ie8 .comment_box .remove,
.ie8 .comment_box:hover .remove {
	opacity: 1;
}

body.gid_admin .comment_box:hover .remove {
	visibility: visible;
	opacity: 1;
}

.ie8 .comment_box form {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}

.ie .comment_box textarea {
	overflow: hidden;
}
