.mini_comment {
	padding: 2px 0px 2px 0px;
	margin-left: 0;
	overflow: visible;
	float: none;
}

.ie .mini_comment .comment {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}

.mini_comment .comment {
	width: 440px;
}

.mini_comment .comment p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mini_comment .comment a.comments {
	color: #333;
}

.mini_comment .comment a:hover {
	text-decoration: underline;
}
