.headshot-container {
	width: 200px;
	height: 246px;	
    position: relative;
	-webkit-perspective: 1200;
}

.headshot-container .close {
	display: none;
}

.headshot-container.floating .close,
#inbox .headshot-container .close {
	display: block;
	color: #000;
	width: 20px;
	height: 20px;
	margin-left: 172px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
}

.headshot-container.floating .front.face .close,
#inbox .headshot-container .front.face .close {
	margin-top: -194px;
}

.headshot-container.floating .front.face:hover .close,
#inbox .headshot-container .front.face:hover .close {
	color: #FFF;
}

.headshot-container.floating .back.face .close,
#inbox .headshot-container .back.face .close {
	margin-top: -6px;
	margin-left: 174px;
}

.headshot-container.floating .back.face .pane,
#inbox .headshot-container .back.face .pane {
	margin-top: -14px;
}

.headshot-container.floating .front.face img,
.headshot-container.floating .back.face .pane {
	cursor: move;
}

.headshot .front.face .handle {
	font-size: 11px;
	height: 12px;
	display: block;
	text-align: center;
	width: 100%;
	color: #999;
}

.headshot .front.face ul.buddy-bar {
	margin: 10px 0 0 0;
}

.headshot-container.floating .front.face .handle,
#inbox .headshot-container .front.face .handle {
	margin-top: 175px;
}

.csstransforms3d .headshot {
	position: absolute;	
	-webkit-transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.8s;
}

.csstransforms3d .headshot.flipped {
    -webkit-transform: rotateY(180deg);
}

.csstransforms3d .headshot .face {
	-webkit-backface-visibility: hidden;
}

.csstransforms3d .headshot .back.face {
	-webkit-transform: rotateY(180deg);
}

.headshot {
	width: 200px;
	height: 240px;
	background-color: transparent;
}

.headshot .face {
	position: absolute;
	width: 190px;
	height: 240px;
	background-color: #FFF;
	padding: 5px 5px 0 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
}

.ie8 .headshot .face {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}

.ie8 .headshot-container.floating .face {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=6);
}

.headshot .front.face img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	width: 190px;
	height: 190px;
}

.headshot .back.face .portrait {
	margin: -1px 0 0 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.headshot .back.face .portrait img {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.headshot ul.buddy-bar {
	list-style: none;
	padding: 0;
	float: right;
}

.headshot ul.buddy-bar.secondary {
	float: left;
}

.headshot ul.buddy-bar li {
	float: left;
}

.headshot a.icon {
	display: block;
	text-decoration: none;
	text-indent: -5000px;
	margin-left: 6px;
	width: 18px;
	height: 20px;
	background: url(/images/friskyfactory/buddy-bar.png) top left no-repeat;	
}

.headshot ul.buddy-bar.secondary a {
	margin-left: 0px;
	margin-right: 6px;
}

.headshot a.profile {
	width: 22px;
	background-position: -300px -1px;
}

.headshot a.comment {
	width: 18px;
	background-position: 0 -3px;
}

.headshot a.block {
	background-position: -24px -1px;
}

.headshot a.buddy {
	background-position: -49px -1px;
}

.headshot a.buddied {
	background-position: -324px -1px;
}

.headshot a.pin {
	background-position: -70px -1px;
}

.headshot a.chat {
	width: 24px;
	background-position: -92px -1px;
}

.headshot a.conversation {
	width: 26px;
	background-position: -120px -1px;
}

.headshot a.photos {
	width: 24px;
	background-position: -150px -1px;
}

.headshot a.mini-profile {
	width: 22px;
	background-position: -178px -1px;
}

.headshot a.headshot {
	width: 22px;
	background-position: -200px -1px;
}

.headshot a.invitations {
	background-position: -276px -2px;
	width: 20px;
}

.headshot a.pokes {
	background-position: -346px -2px;
}

.headshot.poked a.pokes {
	background-position: -362px -2px;
}

/* Pane */

.headshot .pane {
	width: 190px;
	height: 213px;
	overflow: hidden;
	text-align: center;
}

.headshot .caption {
	font-size: 11px;
	color: #666;
	display: inline-block;
	margin-top: 6px;
}

/* Biometrics Pane */

.headshot table.biometrics {
	color: gray;
	width: 180px;
	margin: 0 auto;
	font-size: 12px;
	color: #000;
}

.headshot table.biometrics td {
	vertical-align: middle;
	text-align: left;
	height: 26px;
}

.headshot table.biometrics td.label {
	width: 70px;
	color: #999;
	text-shadow: 0 1px 0 #fff;
}

.headshot table.biometrics td.detail {
	color: #666;
	border-bottom: 1px dotted #333;
	text-shadow: 0 1px 0 #fff;
}

/* Photos */

.headshot table.grid {
	width: 100%;
	margin-top: 2px;
}

.headshot table.grid td {
	text-align: center;
}

.headshot table.grid img {
    width: 52px;
    height: 52px;
	margin: 2px;
    background-color: #fff;
    border: 1px solid #CCC;
}

/* Pokes */

.headshot .pane a.poke:hover {
  opacity: 0.95;
}

.headshot .pane a.poke {
	display: inline-block;
	color: #fff;
	position: relative;
	text-shadow: 0 1px 3px #000;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #0e2d2c;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(255, 255, 255, 0.2) inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	font-size: 11px;
	color: #FFF;
	padding: 2px 8px 3px 8px;
	
	background: #1b5452;
	/* Old browsers */

	background: -moz-linear-gradient(top, #1b5452 0%, #14403f 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b5452), color-stop(100%, #14403f));
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, #1b5452 0%, #14403f 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, #1b5452 0%, #14403f 100%);
	/* Opera11.10+ */

	background: -ms-linear-gradient(top, #1b5452 0%, #14403f 100%);
	/* IE10+ */
	background: linear-gradient(top, #1b5452 0%, #14403f 100%);
	/* W3C */
}

.headshot .pane a.poke:active {
  top: 1px;
  opacity: 1;
  background: #14403f;
  /* Old browsers */

  background: -moz-linear-gradient(top, #14403f 0%, #1b5452 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #14403f), color-stop(100%, #1b5452));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #14403f 0%, #1b5452 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #14403f 0%, #1b5452 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #14403f 0%, #1b5452 100%);
  /* IE10+ */
  background: linear-gradient(top, #14403f 0%, #1b5452 100%);
  /* W3C */
}

/* Conversation */

.headshot .pane.conversation .thread {
    height: 152px;
	color: gray;
	font-size: 11px;
	overflow: auto;
	clear: both;
}

.headshot .pane.conversation .thread .timestamp {
	display: block;
	clear: both;
	margin: 2px auto;
	font-size: 9px;
	font-color: gray;
}

.headshot .pane.conversation .thread ul.messages {
	list-style: none;
}

.headshot .pane.conversation .posting_message {
	margin: 4px 5px;
	min-width: 10px;
	padding: 3px 5px;
	background: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.headshot .pane.conversation .posting_message.received {
	clear: both;
	float: left;
	text-align: left;
	border: 2px solid #DE8080;
}

.headshot .pane.conversation .posting_message.sent {
	clear: both;
	float: right;
	text-align: right;
	border: 2px solid #99CC66;
}

.headshot .pane.conversation .posting_message.unread {
	font-weight: bold;
}

.headshot .pane.conversation .message-input {
	position: relative;
	height: 40px;
	width: 166px;
	margin-top: 0;
	text-align: center;
}

.headshot .pane.conversation textarea {
	outline: 0;
    height: 36px;
	margin: 4px 5px;
	padding: 3px 5px;
	width: 100%;
	background: none;
	overflow: hidden;
	resize: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #99CC66;
}

.headshot .pane.conversation .message-input:before {
	content: "";
	position: absolute;
	bottom: -15px;
	right: 10px;
	width: 10px;
	height: 5px;
	border-style: solid;
	border-width: 0 0 2px 2px;
	border-color: #99CC66;
	background-color: #fff;
	-webkit-border-bottom-left-radius: 18px 10px;
	-moz-border-radius-bottomleft: 18px 10px;
	border-bottom-left-radius: 18px 10px;
}

.headshot .pane.conversation .message-input:after {
	content: "";
	position: absolute;
	bottom: -15px;
	right: 6px;
	width: 4px;
	height: 5px;
	border-style: solid;
	border-width: 0 0 2px 2px;
	border-color: #99CC66;
	-webkit-border-bottom-left-radius: 10px 20px;
	-moz-border-radius-bottomleft: 10px 20px;
	border-bottom-left-radius: 10px 20px;
}

.headshot .pane.conversation thread,
.headshot .pane.conversation textarea,
.headshot .pane.conversation button {
	cursor: default;
}

.ie8 .headshot .pane.conversation .message-input:before {
	border-color: transparent;
}

.ie8 .headshot .pane.conversation .message-input:after {
	border-color: transparent;
}

/* Preferences */

.headshot table.preferences {
	width: 180px;
	margin: 0 auto;
	font-size: 12px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}

.headshot table.preferences td {
	vertical-align: middle;
	line-height: 2.0em;
	text-align: left;
}
