.headshot-container {
	width: 200px;
	height: 220px;	
    position: relative; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
	-webkit-perspective: 1200;
}

.csstransforms3d .headshot {
	position: absolute;	
	-webkit-transform-style: preserve-3d;	
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;        
}

.csstransforms3d .headshot.flipped {
    -webkit-transform: rotateY(180deg);
}

.csstransforms3d .headshot .face {
	-webkit-backface-visibility: hidden;    
}

.csstransforms3d .headshot .back.face {
	-webkit-transform: rotateY(180deg);
}

.headshot {
	width: 200px;
	height: 220px;
}

.headshot .face {
	position: absolute;
	width: 190px;
	height: 220px;
	background-color: #FFF;
	padding: 5px 5px 0 5px;
    -webkit-box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
}

.headshot img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	width: 190px;
	height: 190px;
}

.headshot ul.buddy-bar {
	list-style: none;
	margin: 3px 0 0 0;
	padding: 0;
	float: right;
}

.headshot ul.buddy-bar.secondary {
	float: left;
}

.headshot ul.buddy-bar li {
	float: left;
}

.headshot a.icon {
	display: block;
	text-decoration: none;
	text-indent: -5000px;
	margin-left: 6px;
	width: 18px;
	height: 20px;
	background: url(/images/friskyfactory/buddy-bar.png) top left no-repeat;	
}

.headshot ul.buddy-bar.secondary a {
	margin-left: 0px;
	margin-right: 6px;
}

.headshot a.profile {
	width: 22px;
	background-position: -300px -1px;
}

.headshot a.comment {
	width: 18px;
	background-position: 0 -3px;
}

.headshot a.block {
	background-position: -24px -1px;
}

.headshot a.buddy {
	background-position: -49px -1px;
}

.headshot a.buddied {
	background-position: -324px -1px;
}

.headshot a.pin {
	background-position: -70px -1px;
}

.headshot a.chat {
	width: 24px;
	background-position: -92px -1px;
}

.headshot a.conversation {
	width: 26px;
	background-position: -120px -1px;
}

.headshot a.photos {
	width: 24px;
	background-position: -150px -1px;
}

.headshot a.mini-profile {
	width: 22px;
	background-position: -178px -1px;
}

.headshot a.headshot {
	width: 22px;
	background-position: -200px -1px;
}

.headshot a.invitations {
	background-position: -276px -2px;
	width: 20px;
}

.headshot a.pokes {
	background-position: -346px -2px;
}

.headshot a.pokes.poked {
	background-position: -362px -2px;
}
