.new_post {
	margin: 0;
}

.new_post .foot input[type="submit"],
.new_post .foot input[type="button"] {
	height: inherit;
	padding: 3px 8px 4px 8px;
}

.new_post .foot input[type="submit"]:disabled,
.new_post .foot input[type="submit"]:disabled:active {
	background: gray !important;
	opacity: 0.6;
	top: 0;
}

.new_post .foot .spinner {
	float: right;
	margin-top: 10px;
}

.ie .new_post .foot {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}
