.new_post.photo .body {
	padding: 0 10px;
	width: 340px;
}

.ie8 .new_post.photo .body {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}

.post.photos .photo,
.post.photos .photo img.v4x6 {
	width: auto;
}

.post.photos.multiple .photo {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	float: none;
	position: relative;
	margin-bottom: 6px;
}

.ie8 .post.photos .photo {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=155, Strength=3);
}

.post.photos.multiple .photo img {
	width: 300px;
	height: 220px;
	margin: 0;
	background: #fff;
	padding: 5px;
	position: absolute;
	z-index: 3;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.post.photos.multiple .photo img.v4x6 {
	width: auto;
}

.post.photos.multiple .photo:before {
	position: absolute;
	top: 2px;
	left: 0;
	z-index: 2;
}

.post.photos.multiple .photo:after {
	position: absolute;
	top: 2px;
	left: 0;
	z-index: 1;
}

.post.photos.multiple .photo.vertical,
.post.photos.multiple .photo.vertical:before,
.post.photos.multiple .photo.vertical:after {
	width: 160px;
}

.post.photos.multiple .photo:before {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.post.photos.multiple .photo:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}

.post.photos.multiple .photo:hover:before {
	-webkit-transform: rotate(-2deg);
}

.post.photos.multiple .photo:hover:after {
	-webkit-transform: rotate(2deg);
}

.reaction .frame {
	position: relative;
	margin: 0 0 10px 20px;
}

.reaction .frame.posting {
	display: inline-block;
	padding-top: 10px;
	padding-right: 10px;
}

.reaction .photo {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.reaction img.photo {
	cursor: pointer;
	width: 483px;
	height: auto;
}

.reaction img.photo.v4x6 {
	width: auto;
	height: 460px;
}

.reaction div.photo {
	margin: 0;
	padding: 6px 6px 3px 6px;
	background-color: #fff;
	display: inline-block;
}

.reaction img.fetched.photo {
	width: 150px;
	height: 100px;
	padding: 3px;
	background-color: #fff;
	float: left;
	margin: 0 5px 5px 0;
}

.reaction img.fetched.photo.v4x6 {
	width: 68px;
	height: 100px;
}

.reaction .posting a.remove {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
	right: -10px;
	top: -6px;
	width: 20px;
	height: 20px;
	line-height: 15px;
	color: #333;
	background: transparent;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-ms-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}

.reaction .posting:hover a.admin {
	visibility: hidden;
	opacity: 0;
}

.ie8 .reaction .posting a.admin,
.ie8 .reaction .posting:hover a.admin {
	opacity: 1;
}

body.gid_admin .reaction .posting:hover a.admin {
	visibility: visible;
	opacity: 1;
}
