/*----------------------------------------*\
|	Built with the Lessentials Framework   |
|	       Created by Arron Hunt           |
| 	          copyright 2011               |
\*----------------------------------------*/
.portrait {
  float: left;
  background: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border: 1px solid #000;
}
.portrait img {
  width: 34px;
  height: 34px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
