.posting_persona .post.signal .cell {
	background: url(/images/ribbon_orange.png);
	color: #fff;
	text-shadow: 0 1px 1px #333;
}

.posting_persona .post.signal .cell a {
	color: #fff;
}

.posting_persona .post.signal.new_signup .cell {
	background: url(/images/ribbon_green.png);
	color: #fff;
	text-shadow: 0 1px 1px #333;
}

.posting_persona .post.signal.new_signup .cell a {
	color: #fff;
}
