.grid_16.alpha.omega
  %h1 &#8220;#{@wave.params.titleize}&#8221; Wave
  - if @wave.postings.empty?
    %p
      Bummer. This wave is empty.
  - else
    = render :partial => 'postings/posting', :collection => @wave.postings
