- user = post_it.user
.posting.post.status[post_it]
  .remove{:title => "Remove this post"} ×
  .portrait  
    = thimble_link_to_profile(user)
  .clear
    .cell
      = link_to_profile(user)
      \- #{post_it.subject}
    %span.date Posted Monday, July 25 at 14:00
    %span.comments
      %a#0{:href => "#"} (2 comments)
