- if @posting.present? && @posting.valid?
  $('ul.post_its').prepend("#{escape_javascript(render(:partial => 'post_it', :object => @posting))}").find('.post_it:first').hide().slideDown();
  var $currentTab = $('ul.wave.nav li.current').removeClass('current');
  $($('a', $currentTab).attr('rel')).slideUp().trigger('reset');
  $('.flash').text('');
- else
  $('.flash').text("Couldn't save your posting: #{@posting.errors.full_messages.to_sentence}")
