- if @posting.present? && @posting.valid?
  :plain
    var
      $frame = $("#{escape_javascript(render_posting(@posting))}"),
      $nav = $('li.current', 'ul.nav'),
      $form = $($('a', $nav).attr('rel')),
      $firstPosting = $('.post_frame').filter(':first');

    $nav.removeClass('current');

    $form.fadeTo('fast', 0.0, function() {
      $form.slideUp('fast', 'linear', function() {
        $frame
          .css({ opacity: 0.0 })
          .hide()
          .insertBefore($firstPosting)
          .delay(600)
          .slideDown(function() {
            var
              $post = $frame.find('.post'),
              height = $post.height() + 20,
              limit = Math.floor(height/50);

            $frame.height(height)
              .data('limit', limit)
              .fadeTo('fast', 1.0)
              .find('a.remove[rel]').unpublishOverlay();
          });
      });
    });

- else
  :plain
    alert(@posting.errors.full_messages.to_sentence);
