img.photo {
    padding: 10px;
    background: #FFF;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

img.photo.h4x6 {
	width: 434px;
	height: 284px;
    border: 1px solid darkgrey;
}

img.photo.v4x6 {
	width: 284px;
	height: 434px;
    border: 1px solid darkgrey;
}

img.photo.small {
    padding: 8px;
}

img.photo.h4x6.small {
    width: 220px;
    height: 148px;
}

img.photo.v4x6.small {
    width: 148px;
    height: 220px;
}

.tab_content#posting_photo table.button-bar {
    vertical-align: top;
    border-spacing: 0px 4px;
    border-collapse: separate;  
    padding: 4px;
    width: 70%
}

.tab_content#posting_photo td {
	vertical-align: top;
}
