- persona = @personage.persona
.headshot-container
  .headshot
    .face
      .pane
        %table.biometrics
          %tr
            %td.label First Name
            %td.detail= persona.handle
          %tr
            %td.detail{ :colspan => '2'}
              = persona.description
      .button-bar
        = link_to 'Edit', edit_profile_path(@personage), :class => 'button edit_profile'
