.headshot-container
  .headshot
    .face
      .pane
        = render :partial => File.join('personages', 'community', 'biometrics'), :locals => { :persona => personage.persona }
      .button-bar
        = link_to 'Edit', edit_profile_path(personage), :class => 'button edit_profile'
