#sidebar {
  width: 220px;
}

#sidebar .block {
  width: 200px;
}

#sidebar a {
	text-decoration: none;
	color: white;
}

#sidebar .block.userspace span.username {
	width: auto;
}

#sidebar .block.userspace span.username a {
	margin: 0;
	font-size: inherit;
	font-style: inherit;
	display: block;
}

#sidebar .block.userspace span.username a[href='/profile'] {
	font-size: 12px;
	font-style: italic;
	margin-top: 4px;
}

#sidebar .block.navspace ul li {
	line-height: 20px;
}

#sidebar .block.navspace ul li.messages:before {
	background-position: 0 -25px;
	margin-top: -2px;
}

#sidebar .block.navspace ul li:hover span {
	left: 12px;
}

#sidebar .block.navspace ul li:hover:before {
	margin-left: 0;
}

#sidebar .block.userspace .portrait a {
	margin: 0;
}

#sidebar .block.navspace ul .messages span {
	border-radius: 1em;
	padding: 0 2px;
}

#sidebar .block.navspace ul li.personal:before {
	background-position: 0 -50px;
}

#sidebar .block.navspace ul li.home:before {
	background-position: 0 -50px;
}

#sidebar .block.navspace ul li.rollcall:before {
	background-position: -25px 0;
}

#sidebar .block.navspace ul li.invites:before {
	background-position: 0 -75px;
}

#sidebar .block.navspace ul li.account:before {
	background: none;
}

#sidebar .block.navspace ul li.logout:before {
	background: none;
}

#sidebar .block.rollcall .portrait {
	margin: 0 5px 5px 0;
}

#sidebar .block.rollcall .portrait.omega {
	margin-right: 0px;
}

#sidebar .block.rollcall a.more {
	font-size: 13px;
	display: block;
	float: right;
	font-style: italic;
}

.ie #sidebar .portrait {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#333333', Direction=155, Strength=3);
}

#sidebar .block.ambassador a {
	display: block;
	float: left;
	margin: 8px 0 0 10px;
}

#sidebar ul.block.ambassadors li {
	width: 180px;
	display: block;
	clear: both;
	float: left;
	cursor: pointer;
	line-height: 28px;
	text-shadow: 0 1px 1px #000;
	font-size: 13px;
	margin: 4px 0;
}

#sidebar ul.block.ambassadors a.handle {
	display: block;
	float: left;
	margin: 2px 0 0 10px;
}
