.badge.prefix_2.grid_12.suffix_2
  = image_tag 'badge.png', :size => '520x220', :site => true
  %h1 You're Onto Something
  %h4
    FriskyLolas is a new destination for
    %br/
    get-going gay girls everywhere.
  .grid_8.prefix_2.suffix_2.alpha.omega
    %p Find new friends, dating and lovers in a great environment where privacy is a priority.
