body {
	-moz-user-select: auto;
	-khtml-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;	
}

.hidden {
	display: none;
}

a:focus {
	outline: none;
	-moz-outline: none;
}

.error {
	color: darkred !important;
}