.badge.prefix_3.grid_10.suffix_3
  = image_tag 'badge.png', :size => '520x220'
  %h1 Command Your Post
  %h4 Frisky Soliders is a new destination for the gay military services community.          
  .grid_8.prefix_1.suffix_1.alpha.omega
    %p Find guys for new friends, dating and lovers in a great environment where privacy is a priority.
  .grid_8.prefix_1.suffix_1.prepend-top.alpha.omega
    %h4 Coming Spring 2011
