@font-face {
	font-family: "Chalkduster";
	src: url('/fonts/Chalkduster.ttf');
	font-weight: normal;
}

img.avatar.polaroid {
    width: 260px;
    height: 260px
}

.polaroid-container {
	height: 356px;
	width: 320px;
	position: relative;	
	z-index: 1000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
	-webkit-perspective: 1200;
}

div.polaroid  {
	position: absolute;
	height: 350px;
	width: 290px;	
	-webkit-transform-style: preserve-3d;	
	-webkit-transition: -webkit-transform 1s linear;
/*    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);*/
}

div.polaroid.flipped {
/*    -webkit-transform: rotate(2deg) rotateY(180deg);*/
    -webkit-transform: rotateY(180deg);
}

div.polaroid .face {
	position: absolute;
	height: 320px;
	width: 260px;
	background: url(/images/friskyhands/polaroid.png);
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
    -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
	-webkit-backface-visibility: hidden;
}

div.polaroid .face .header {
	color: rgb(0, 0, 0);
	width: 260px;
}

div.polaroid .face .header .username {
	font-size: 18px;
	font-family: Chalkduster;
}

div.polaroid .front.face .header {
	height: 46px;
}

div.polaroid .front.face .header td {
	vertical-align: middle;
	text-align: left;
}

div.polaroid .front.face .header td.status {
	padding-top: 6px;
	text-align: right;
    font-size: 12px;
	color: #666;
}

div.polaroid .back.face {
	color: rgb(34,65,108);
/*	Following not compatible with Chrome */
/*	.. assigned via Javascript instead   */
/*	-webkit-transform: rotateY(180deg);  */
/*	-moz-transform: rotateY(180deg);     */
}

div.polaroid .back.face .header {
    margin-bottom: 10px;
}

div.polaroid .back.face .header td {
	text-align: left;    
}

div.polaroid .back.face .header td.avatar {
    width: 70px;
}

div.polaroid .face img.avatar.thumb {
	border: 1px solid darkgray;
}

div.polaroid .face img.avatar.thumb.online {
	border: 1px solid lightgreen;
}

.polaroid-container ul.buddy-bar {
	list-style: none;
	margin: 0;
	padding: 0;
}

.polaroid-container ul.buddy-bar.primary {
	float: right;
}

.polaroid-container ul.buddy-bar.secondary {
	float: left;
}

.polaroid-container ul.buddy-bar li {
	float: left;
}

.polaroid-container ul.buddy-bar li.comment-count {	
	font-family: Gill Sans, Trebuchet MS, Verdana, Arial;
	font-size: 12px;
	color: #666;
	padding-top: 4px;
}

.polaroid-container .navi a,
.polaroid-container a.icon {
	display: block;
	text-decoration: none;
	text-indent: -1000em;
	margin-right: 6px;
	width: 18px;
	height: 20px;
	background: url(/images/friskyhands/buddy-bar.png) top left no-repeat;	
}

.polaroid-container a.icon.last {
	margin-right: 0px;
}

.polaroid-container a.icon.comment {
	width: 18px;
	background-position: 0 -3px;
}

.polaroid-container a.icon.block {
	background-position: -24px -1px;
}

.polaroid-container a.icon.buddy {
	background-position: -49px -1px;
}

.polaroid-container a.icon.pin {
	background-position: -70px -1px;
}

.polaroid-container a.icon.chat {
	width: 24px;
	background-position: -92px -1px;
}

.polaroid-container a.icon.message {
	width: 26px;
	background-position: -120px -1px;
}

.polaroid-container a.icon.photos {
	width: 24px;
	background-position: -150px -1px;
}

.polaroid-container a.icon.profile {
	background-position: -180px -1px;
}

.polaroid-container a.icon.headshot {
	width: 22px;
	background-position: -200px -1px;
}

.polaroid-container div.gripper {
	background: url(/images/friskyhands/buddy-bar.png) top left no-repeat;	
	background-position: -220px -1px;
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	cursor: move;
}
