.wave .post_it {
    position: relative;
    background: url('/images/friskyhands/post-it.png') no-repeat top left;
    width: 160px;
    height: 130px;
    padding: 20px 20px;
}

.wave .post_it img.avatar {
    position: relative;
    float: left;
    top: -20px;
    left: -12px;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 3px 4px #873;
    -moz-box-shadow: 3px 3px 4px #873;
    box-shadow: 3px 3px 4px #873;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

.wave .post_it {
    line-height: 1.2em;
	font-size: small;
    color: gray;
}

.post_it .created_at {
    white-space: nowrap;
}

.wave .post_it .spinner {
    position: absolute;
    top: 60px;
    left: 84px;
}
