@font-face {
	font-family: 'NothingYouCouldDo';
	src: url('/fonts/nothingyoucoulddo.ttf');
	font-weight: normal;
}

.post_it {
    position: relative;
    background: url('/images/friskyhands/post-it.png') no-repeat top left;
    width: 148px;
	height: 107px;
	padding: 20px 22px 20px 20px;
    line-height: 1.2em;
	font-size: small;
    color: gray;
}

.post_it.form {
	margin-top: 12px;
    background: url('/images/friskyhands/post-it.png') no-repeat -150px left;
}

.post_it * {
	font-family: 'NothingYouCouldDo';
	font-size: 11px;
	line-height: 16px;
}

.post_it img.avatar {
    position: relative;
    float: left;
    top: -8px;
    left: -6px;
	margin: 0 8px 0 0;
	width: 50px;
	height: 50px;
    -webkit-box-shadow: 2px 2px 4px #666;
    -moz-box-shadow: 3px 3px 4px #666;
    box-shadow: 3px 3px 4px #666;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

.post_it .message {
	clear: both;
}

.post_it textarea#posting_post_it_subject {
	position: relative;
	line-height: 14px;
	top: -6px;
	height: 42px;
	background: transparent;
	resize: none;
	overflow: hidden;
}

.post_it a.icon.message {
	display: inline-block;
	background: url(/images/friskyhands/buddy-bar.png) -120px -1px no-repeat;
	width: 26px;
	height: 20px;
	text-decoration: none;
	text-indent: -1000em;	
}

.post_it .spinner {
    position: absolute;
    top: 60px;
    left: 84px;
}
