<% div_for(comment, :class => 'posting')  do %>
	<table>
		<tr>
			<td><%= thumb_image_tag(comment.user.profile.avatar) rescue '&nbsp;' %></td>
			<td><%= comment.body %></td>
		</tr>
	</table>
	<%= render :partial => "postings/posting", :collection => comment.children %>
<% end %>
