.badge.prefix_3.grid_10.suffix_3
  = image_tag 'badge.png', :size => '520x220'
  %h1 A Place for Positive People
  %h4 PositivelyFrisky is an invitation-only social networking site designed especially for the HIV+ LGBTQ community & their Friends.
