<div class='welcome span-16 prepend-4 append-4 last'>
	<%= image_tag 'logo-big-24t.png', :width => '100%' %>
	<h1>Hello World!</h1>
	<%= link_to 'Logout', user_session_path(current_user), :method => :delete %>
</div>
