<%= javascript_include_tag 'jquery.placeholder-1.0.1' %>
<div class='welcome block'>
	<div class='column span-16 prepend-4 append-4 last'>
		<%= image_tag 'logo-big-24t.png', :width => '100%' %>
		<h1>Welcome to friskyhands</h1>
	</div>
</div>

<% javascript_tag do %>
	jQuery(document).ready(function(){
		jQuery('#user_email').placeholder({ className: 'placeholder' });
		jQuery('form').click(function(){
			var email = jQuery('#user_email').val();
			var prompt = jQuery('#user_email').attr('placeholder');
			if (email == prompt) jQuery('#user_email').val('');
		});
	});
<% end %>
