<body class='<%= current_site.name %> welcome'>
	<%= current_site.header %>	
	<div class='container'>		
		<div class='welcome block'>
			<div class='column span-16 prepend-4 append-4 last'>
				<%= image_tag 'logo-big-24t.png', :width => '100%' %>
				<h1>Coming Spring 2010</h1>
				<h2>FriskyHands is an upcoming social networking site designed especially for the Deaf GLBTQ Community and their Friends &amp; Admirers. FriskyHands is set to launch in the Spring of 2010.</h2>
				<div class='signup'>
					<%# form_for @user do |f| %>
						<%# f.label :email, 'me@blah.com' %>
						<%# f.text_field :email %>
					<%# end %>
				</div>
			</div>
		</div>
	</div>
</body>
