- if flash[:error].present?
  %p Oh no! Can you fix this?
  %ul.flash.error
    - flash[:error].each do |error|
      %li= error
- elsif flash[:notice].present?
  %p.flash.notice<    
    = flash[:notice]
- else
  %p Your privacy and safety are our number-one concerns. No search engine nor any other web site can access your FriskyHands' secured profile.
