.badge.prefix_3.grid_10.suffix_3
  = image_tag 'badge.png', :size => '520x220'
  %h1
    Command Your Post
  %h4
    Frisky Soliders is a new destination for the gay military services community.          
  .grid_8.prefix_1.suffix_1.alpha.omega
    %p
      Find guys for new friends, dating and lovers in a great environment where privacy is a priority.
  .grid_8.prefix_1.suffix_1.prepend-top.alpha.omega
    %h4
      Coming Spring 2011
.creative.prepend-top.prefix_2.grid_12.suffix_2
  .grid_3.alpha<
    &nbsp;
  .grid_6<
    .panel
      - if flash[:launch_user]
        %h4 Thanks!
        %p We'll drop you an email when we're ready!              
      - else
        %p Provide your email address and we'll let you know when we're ready.
        = form_for LaunchUser.new, :url => launch_path do |f|
          = f.text_field :email, :placeholder => 'email@address.com'
          = f.submit 'Thanks'        
  .grid_3.omega<
    &nbsp;
