.quotes
  .quote
    .portrait
      %img{:src => "/images/labs/users/a.png"}/
    .note
      %p #{current_site.display_name} is magical and amazing! I met so many amazing people!
  .quote
    .portrait
      %img{:src => "/images/labs/users/b.png"}/
    .note
      %p My name is Todd, and I am not a paid actor. #{current_site.display_name} is super, great, amazing, awesome, and...uh...super. I love using #{current_site.display_name} every day of the week.
  .quote
    .portrait
      %img{:src => "/images/labs/users/c.png"}/
    .note
      %p #{current_site.display_name} is the most friskiest of all the friskies. Friskier then a freaking frisker. Frisky McFriskerton. I'm feeling fairly frisky this Friday.
  .quote
    .portrait
      %img{:src => "/images/labs/users/d.png"}/
    .note
      %p Can everyone on the internet see this review? Really? Everyone? HI MOM!
