#stream
  #container
    .portrait
      %img{:src => "/images/labs/users/a.png"}/
    .portrait
      %img{:src => "/images/labs/users/b.png"}/
    .portrait
      %img{:src => "/images/labs/users/c.png"}/
    .portrait
      %img{:src => "/images/labs/users/d.png"}/
    .portrait
      %img{:src => "/images/labs/users/e.png"}/
    .portrait
      %img{:src => "/images/labs/users/f.png"}/
    .portrait
      %img{:src => "/images/labs/users/g.png"}/
    .portrait
      %img{:src => "/images/labs/users/h.png"}/
    .portrait
      %img{:src => "/images/labs/users/i.png"}/
    .portrait
      %img{:src => "/images/labs/users/j.png"}/
    .portrait
      %img{:src => "/images/labs/users/k.png"}/
    .portrait
      %img{:src => "/images/labs/users/a.png"}/
    .portrait
      %img{:src => "/images/labs/users/b.png"}/
    .portrait
      %img{:src => "/images/labs/users/c.png"}/
    .portrait
      %img{:src => "/images/labs/users/d.png"}/
    .portrait
      %img{:src => "/images/labs/users/e.png"}/
    .portrait
      %img{:src => "/images/labs/users/f.png"}/
    .portrait
      %img{:src => "/images/labs/users/g.png"}/
    .portrait
      %img{:src => "/images/labs/users/h.png"}/
    .portrait
      %img{:src => "/images/labs/users/i.png"}/
    .portrait
      %img{:src => "/images/labs/users/j.png"}/