:plain
  Hey #{@poke.receiver.handle}!

  #{@poke.sender.handle} has sent you a cocktail!

  Don't know who Mich is and want to find out more? Click below to check out his bio: 

  #{@wave_profile_url}

  You received this email since you subscribed to message notifications at #{@host}. 
  Send an email to unsubscribe@friskyfactory.com, and we'll remove you right away.

  FriendFactory, LLC
  151 First Ave Suite 205,
  New York, NY 10003
