.admin.site table.index th.launch,
.admin.site table.index td.launch,
.admin.site table.index th.invite_only,
.admin.site table.index td.invite_only,
.admin.site table.index th.state,
.admin.site table.index td.state {
	text-align: center;
}

.admin.site table.index td.state {
	color: green;
}

.admin table.index form.posting_invitation_state {
	margin-left: 0px;
}

.admin.site table.form {
	text-align: left;
}

.admin.site table.form td {
	vertical-align: bottom;
	padding-top: 3px;
	padding-bottom: 3px;
}

.admin.site table.form tr td:nth-child(1) {
	padding-right: 20px;
}

.admin.site table.form tr.signals td,
.admin.site table.form tr.stylesheet td,
.admin.site table.form tr.assets td {
	vertical-align: top;
}

.admin.site table.form tr.assets .table {
	display: table;
}

.admin.site table.form tr.assets .table .tr {
	display: table-row;
}

.admin.site table.form tr.assets .table .td {
	display: table-cell;
	padding: 10px 0;	
	vertical-align: middle;
	border-bottom: 1px solid #EEE;
}

.admin.site table.form tr.assets .tr.asset .td:nth-child(1) {
	width: 120px;
}

.admin.site table.form tr.assets .tr.asset .td:nth-child(2) {
	width: 300px;
}

.admin.site table.form tr.assets .tr.asset .td:nth-child(3) {
	width: 80px;
	white-space: nowrap;
}

.admin.site table.form tr.assets .tr.asset.image .td.silhouette {
	text-align: center;
}

.admin.site table.form textarea[name='site[css]'] {
	height: 16em;
	width: 40em;
}

.admin.site table.form input[type='checkbox'] + label {
	font-weight: normal;
}

.admin.site table.form tr.assets .tr.asset.constant .td:nth-child(1) input[type='text'] {
	width: 86px;
}

.admin.site table.form tr.assets .td:nth-child(2) input[type='text'] {
	width: 18em;
}
