.dialog .body .foot input[type="submit"]:disabled,
.dialog .body .foot input[type="submit"]:disabled:active {
	border: 1px solid #333;
	background: gray !important;
	opacity: 0.6;
	top: 0;
}

.dialog .spinner {
	float: right;
	margin-top: 10px;
}

#header #logo {
	max-height: 75px;
	margin: 0;
}

#header form {
	width: 442px;
}

#header form p label {
  margin-left: 0;
}

#header form input#user_session_remember_me {
  margin-left: 10px;
}

.ie #header input#user_session_remember_me {
	margin-top: -3px;
}

.ie #header input#user_session_remember_me,
.ie #header label {
	vertical-align: middle;
}

.col {
	margin: 30px 0 20px;
}

.col h1 {
	font-size: 3em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 #000;
}

.col h2 {
	font-size: 1.6em;
}

.col p {
	margin: 20px 0;
}

.cells {
	overflow: hidden;
}

.cells .headshot-container {
	margin: 0 0 0 50px;
	float: left;
}

.cells .headshot-container:first-child {
	margin-left: 0;
}

.ie8 .cells .headshot-container.omega {
	margin-right: 0;
}

.cells .cell {
	margin: 0 40px 0 0;
}

.cells .cell:last-child {
	margin-right: 0;
}

.ie8 .cells .cell.omega {
	margin-right: 0;
}

.ie8 .cells .cell {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#AAAAAA', Direction=160, Strength=5);
}

input:-webkit-autofill {
	background-color: #FFF !important;
}

.tooltip {
	display: none;
	background: transparent url(/images/black_arrow.png);
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
	color: #FFF;
}

hr {
	margin: 30px 0;
}

#badge {
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
}

#badge form input#user_invitation_code {
	width: 80px;
}

.no-cssanimations .frame {
	position: relative;
}

.no-cssanimations #badge {
	position: absolute;
	z-index: 0;
	top: -350px;
	left: 400px;
}

#badge form input[type="submit"].narrow {
	width: 120px;
}

#reuse_password {
	display: inline-block;
	color: #FFF;
	margin: 10px 0 0 10px;
	width: 215px;
	font-size: 12px;
	padding-left: 10px;
}

.field_with_errors {
	display: inline;
}

.field_with_errors input::-webkit-input-placeholder {
	color: #A00;
}

.field_with_errors input:-moz-placeholder {
	color: #A00;
}

ul#errors li {
	list-style: disc;
	color: #333;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.5em;
}

#badge form input#user_persona_attributes_age {
  width: 50px !important;
}

#badge form input#user_persona_attributes_location {
  width: 130px !important;
}

body.passwords #badge form div {
	float: left;
	width: 100%;
}

body.passwords #badge form input {
	display: block;
	margin: 10px auto;
}

body.passwords #badge form input[type="submit"]:disabled {
	border: 1px solid #333;
	background: gray !important;
	opacity: 0.6;
	top: 0;
}

.user_session_errors {
	float: right;
	width: 300px;
	margin-top: 24px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: right;
	margin-right: 10px;
}