.cells .headshot-container {
	margin: 50px 50px 25px 0;
	float: left;
}

.cells .headshot-container:last-child {
	margin-right: 0 !important;
}

input:-webkit-autofill {
	background-color: #FFF !important;
}

.tooltip {
	display:none;
	background:transparent url(/images/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}
