.dialog {
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -210px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 500;
  /* Hidden */

  opacity: 0;
  display: none;
}
.dialog .body {
  background: #fff;
  width: 400px;
  height: auto;
  margin: 10px;
  border: 1px solid #000;
}
.dialog .body .title {
  width: 380;
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid #750b00;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  background: #b94f42;
  background: -moz-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b94f42), color-stop(100%, #972d20));
  background: -webkit-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -o-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -ms-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: linear-gradient(top, #b94f42 0%, #972d20 100%);
  color: #fff;
  font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  line-height: 30px;
  text-shadow: 0 1px 1px #000;
}
.dialog .body p {
  margin: 10px;
  color: #333;
  font-size: 14px;
}
.dialog .body .foot {
  height: 35px;
  background: #eee;
  border-top: 1px solid #ccc;
}
.dialog .body .foot input[type="submit"], .dialog .body .foot input[type="button"] {
  width: 60px;
  height: 25px;
  margin: 5px;
  color: #fff;
  float: right;
  position: relative;
  text-shadow: 0 1px 3px #000;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #750b00 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dialog .body .foot input[type="submit"]:hover, .dialog .body .foot input[type="button"]:hover {
  opacity: 0.95;
}
.dialog .body .foot input[type="submit"] {
  background: #b94f42;
  background: -moz-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b94f42), color-stop(100%, #972d20));
  background: -webkit-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -o-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -ms-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: linear-gradient(top, #b94f42 0%, #972d20 100%);
}
.dialog .body .foot input[type="submit"]:active {
  top: 1px;
  opacity: 1;
  background: #972d20;
  background: -moz-linear-gradient(top, #972d20 0%, #b94f42 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #972d20), color-stop(100%, #b94f42));
  background: -webkit-linear-gradient(top, #972d20 0%, #b94f42 100%);
  background: -o-linear-gradient(top, #972d20 0%, #b94f42 100%);
  background: -ms-linear-gradient(top, #972d20 0%, #b94f42 100%);
  background: linear-gradient(top, #972d20 0%, #b94f42 100%);
}
.dialog .body .foot input[type="button"] {
  background: #3f4e58;
  background: -moz-linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f4e58), color-stop(100%, #2f3a42));
  background: -webkit-linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
  background: -o-linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
  background: -ms-linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
  background: linear-gradient(top, #3f4e58 0%, #2f3a42 100%);
  border: 1px solid #333 !important;
}
.dialog .body .foot input[type="button"]:active {
  top: 1px;
  opacity: 1;
  background: #2f3a42;
  background: -moz-linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f3a42), color-stop(100%, #3f4e58));
  background: -webkit-linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
  background: -o-linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
  background: -ms-linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
  background: linear-gradient(top, #2f3a42 0%, #3f4e58 100%);
}
#mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 250;
  /* Hidden */

  display: none;
}
body {
  background: url("/images/tile.png");
}
*::selection {
  background: #b94f42;
  color: #fff;
  text-shadow: none;
}
.frame {
  width: 960px;
  margin: 0 auto;
}
#header {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #772015;
  background: url("/images/welcome_header.jpg");
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}
#header #logo {
  margin: 5px;
}
#header form {
  margin: 14px 0;
  width: 440px;
  float: right;
}
#header form input[type="text"], #header form input[type="password"] {
  padding: 8px 10px;
  margin: 0 10px 0 0;
  width: 150px;
  float: left;
  border: none;
  outline: none;
  border: 1px solid #772015;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 4px rgba(0, 0, 0, 0.25) inset;
}
#header form input[type="submit"] {
  height: 31px;
  padding: 0 10px;
  display: block;
  float: right;
  border: 1px solid #772015;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #b94f42;
  background: -moz-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b94f42), color-stop(100%, #972d20));
  background: -webkit-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -o-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -ms-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: linear-gradient(top, #b94f42 0%, #972d20 100%);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #fff;
  text-shadow: 0 1px 1px #000;
  text-transform: uppercase;
  font: bold 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#header form input[type="submit"]:hover {
  opacity: 0.9;
  cursor: pointer;
}
#header form input[type="submit"]:active {
  opacity: 1;
  background: #206d7d;
  background: -moz-linear-gradient(top, #206d7d 0%, #428f9f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #206d7d), color-stop(100%, #428f9f));
  background: -webkit-linear-gradient(top, #206d7d 0%, #428f9f 100%);
  background: -o-linear-gradient(top, #206d7d 0%, #428f9f 100%);
  background: -ms-linear-gradient(top, #206d7d 0%, #428f9f 100%);
  background: linear-gradient(top, #206d7d 0%, #428f9f 100%);
}
#header form p {
  float: left;
  width: 440px;
  margin-top: 5px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#header form p a {
  color: #fff;
  width: 170px;
  display: block;
  float: left;
  text-decoration: none;
}
#header form p a:hover {
  text-decoration: underline;
}
#header form p label {
  margin-left: 10px;
}
#header form .checkbox {
  height: 33px;
  width: 20px;
  margin-right: -3px;
  float: left;
  position: relative;
  border: 1px solid #772015;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background: #428f9f;
  background: -moz-linear-gradient(top, #428f9f 0%, #206d7d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #428f9f), color-stop(100%, #206d7d));
  background: -webkit-linear-gradient(top, #428f9f 0%, #206d7d 100%);
  background: -o-linear-gradient(top, #428f9f 0%, #206d7d 100%);
  background: -ms-linear-gradient(top, #428f9f 0%, #206d7d 100%);
  background: linear-gradient(top, #428f9f 0%, #206d7d 100%);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
#header form .checkbox input {
  background: #ff0;
  position: relative;
  top: 7px;
  left: 2px;
}
#header form .checkbox:hover:before {
  content: "REMEMBER ME";
  position: absolute;
  top: 30px;
  left: -1px;
  width: 93px;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  color: #fff;
  text-align: center;
  font: 11px "Myriad Pro", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#header form .checkbox:hover:after {
  content: " ";
  display: block;
  position: absolute;
  top: 25px;
  left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.col {
  width: 400px;
  float: left;
  margin: 50px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.col h1 {
  color: #772015;
  margin: 0 0 20px 0;
  font: bold 32px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.col p {
  color: #333;
  font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  line-height: 1.5;
  margin: 0 0 20px 0;
}
#badge {
  width: 550px;
  height: 335px;
  float: right;
  position: relative;
  top: -335px;
  background: url("/images/signup_badge.png");
  -webkit-transform-origin: 50% 0;
}
#badge form {
  width: 510px;
  height: 190px;
  margin: 130px 0 0 20px;
}
#badge form h2 {
  width: 500px;
  margin: 10px 0 0 10px;
  float: left;
  text-align: center;
  color: #fff;
  font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: 0 1px 1px #000;
}
#badge form input[type="text"], #badge form input[type="password"] {
  padding: 10px;
  margin: 10px 0 0 10px;
  width: 215px;
  border: 1px solid #772015;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
#badge form input[name="age"] {
  width: 50px !important;
}
#badge form input[name="location"] {
  width: 130px !important;
}
#badge form input[type="submit"] {
  padding: 5px 10px;
  margin: 10px 0 0 10px;
  width: 235px;
  position: relative;
  top: 2px;
  border: 1px solid #772015;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #b94f42;
  background: -moz-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b94f42), color-stop(100%, #972d20));
  background: -webkit-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -o-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -ms-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: linear-gradient(top, #b94f42 0%, #972d20 100%);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.25) inset;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#badge form input[type="submit"]:hover {
  opacity: 0.9;
  cursor: pointer;
}
#badge form input[type="submit"]:active {
  opacity: 1;
  background: #206d7d;
  background: -moz-linear-gradient(top, #206d7d 0%, #428f9f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #206d7d), color-stop(100%, #428f9f));
  background: -webkit-linear-gradient(top, #206d7d 0%, #428f9f 100%);
  background: -o-linear-gradient(top, #206d7d 0%, #428f9f 100%);
  background: -ms-linear-gradient(top, #206d7d 0%, #428f9f 100%);
  background: linear-gradient(top, #206d7d 0%, #428f9f 100%);
}
#stream {
  width: 960px;
  height: 55px;
  float: left;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
}
#stream #container {
  overflow: auto;
  width: 1200px;
}
#stream .portrait {
  margin: 10px 0 10px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
hr {
  margin: 50px 0 25px 0;
  width: 960px;
  float: left;
}
.cells {
  width: 960px;
  float: left;
}
.cells .cell {
  width: 290px;
  margin: 50px 40px 25px 0;
  float: left;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.cells .cell .thumb {
  width: 280px;
  height: 150px;
  margin: 5px;
  position: relative;
  background: url('/images/screenshot_small.png');
}
.cells .cell .thumb img {
  position: absolute;
  top: -10px;
}
.cells .cell p {
  margin: 10px 5px;
  color: #333;
  font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  line-height: 1.5;
}
.cells .cell:last-child {
/*  margin: 50px 0 25px 0 !important;*/
  margin-right: 0;
}
.quotes {
  width: 960px;
  float: left;
}
.quotes .quote {
  width: 460px;
  margin: 25px 25px 0px 0;
  position: relative;
  float: left;
}
.quotes .quote .note {
  width: 394px;
  padding: 10px;
  margin: 0 0 0 10px;
  float: left;
  position: relative;
  background: url('/images/note.png');
}
.quotes .quote .note p {
  z-index: 50;
  position: relative;
  color: #333;
  font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  line-height: 1.3;
}
.quotes .quote .note:after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 414px;
  height: 50px;
  background: url('/images/note_sprite.png') bottom right no-repeat;
}
.quotes .quote:nth-child(2n) {
  margin: 25px 0 0 0 !important;
}
.dialog {
  margin-top: 0;
}
.dialog input[type="text"] {
  padding: 10px;
  margin: 5px;
  width: 347px;
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
.dialog input[type="submit"] {
  margin-right: 15px !important;
  width: 200px !important;
}
.footer {
  width: 960px;
  padding: 0 0 50px 0;
  float: left;
  text-align: center;
  font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}
