/* @import "lessentials.less"; */
/* FRISKY FREEDOM BRANDING */
/*
@logo: '../../images/brands/friskyfreedom/logo.png';
@body_background: '../../images/brands/friskyfreedom/tile.png';
@column_background: '../../images/brands/friskyfreedom/column_background.png';
@color_main: #1b5452;
*/
/* FRISKY HANDS BRANDING */
/* POSITIVELY FRISKY BRANDING */
/*
@logo: '../../images/brands/positivelyfrisky/logo.png';
@body_background: '../../images/brands/positivelyfrisky/tile.png';
@column_background: '../../images/brands/positivelyfrisky/column_background.png';
@color_main: #8337cb;
*/
/* UNIVERSAL VARIABLES */
body {
  background: url('../../images/brands/friskyhands/tile.png');
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
a {
  color: #861c0f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  float: left;
}
#large_frame {
  height: 100%;
  width: 1220px;
  display: block;
  position: relative;
}
#frame {
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
  margin-left: 201px;
  background: url('../../images/brands/friskyhands/column_background.png') repeat-y;
}
#frame .post_frame, #frame .new_post_frame {
  float: left;
  padding-bottom: 10px;
}
#frame .new_post_frame {
  padding-bottom: none;
}
#frame .post_frame.active {
  background: url(/images/selected.png) no-repeat;
  background-position: 400px 30px;
}
