#frame {
	position: relative;
	margin-left: 221px;
}

#frame .post_frame,
#frame .new_post_frame {
	clear: both;
	margin: 4px 0;
}

#frame .new_post_frame {
	padding-bottom: 0px;
}

#frame .post_frame {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	-o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.ie8 #frame .post_frame {
	border-bottom: 1px solid gray;
}

#frame .post_frame.narrow-border {
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: 0 1px 0 transparent;
	-moz-box-shadow: 0 1px 0 transparent;
	-o-box-shadow: 0 1px 0 transparent;
	box-shadow: 0 1px 0 transparent;
}

#frame .pagination {
	display: block;
	width: 400px;
	float: left;
	clear: both;
}