body {
/*  background: url('../../images/brands/friskyhands/tile.png');*/
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
a {
  color: #861c0f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  float: left;
}
#large_frame {
  height: 100%;
  width: 1220px;
  display: block;
  position: relative;
}
#frame {
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
  margin-left: 201px;
/*  background: url('../../images/brands/friskyhands/column_background.png') repeat-y;*/
}
#frame .post_frame, #frame .new_post_frame {
  float: left;
  margin: 5px 0;
}
#frame .post_frame.active {
  background: url(/images/selected.png) no-repeat;
  background-position: 400px 30px;
}
.collapsed {
  border-bottom: 1px solid #333;
}
.collapsed .post {
  border: none;
}
/*.collapsed - .post_frame {
  background: #ff0000;
}*/
