.reaction {
	width: 500px;
	padding-left: 20px;
	overflow: hidden;
}

.reaction .headshot-container {
	margin: 0 0 20px 65px;
}

.reaction .post {
	width: 500px;
	float: left;
	padding-right: 0;
}

.reaction .post .clear {
	width: 440px;
}

.reaction .post .clear .cell {
	width: 420px;
}

.reaction a.comments,
.reaction a.new_comment {
	color: #666;
	font-size: 11px;
}

.reaction a.comments.footer {
	clear: both;
	display: block;
	margin: 5px 0 10px;
}