.reaction {
	width: 500px;
	padding-left: 20px;
	overflow: hidden;
}

.reaction .headshot-container {
	margin: 0 0 20px 65px;
}

.reaction .post {
	width: 480px;
	float: left;
}

.reaction .post .clear,
.reaction .post .clear .cell {
	width: 430px;
}

.reaction a.comments {
	color: #666;
	font-size: 11px;
}

.reaction a.comments.footer {
	clear: both;
	display: block;
	margin: 5px 0;
}