#rollcall {
	min-width: 960px;
	margin-left: 201px;
	overflow: hidden;
	position: relative;
}

#rollcall .polaroid-container {
	float: left;
	margin: 20px 0 0 20px;
}

#rollcall .headshot-container {
	float: left;
	margin: 20px 0 0 20px;
}

.ie #rollcall .headshot-container {
	float: left;
	margin: 20px 0 0 16px;
}

#rollcall .pagination {
	display: block;
	width: 100%;
	clear: both;
}
