#rollcall {
	position: absolute;
	top: 0;
	left: 201px;
}

#rollcall .polaroid-container {
	float: left;
	margin: 20px 0 0 20px;
}

#rollcall .headshot-container {
	float: left;
	margin: 20px 0 0 20px;
}

.ie #rollcall .headshot-container {
	float: left;
	margin: 20px 0 0 16px;
}
