#sidebar {
  width: 200px;
  height: 100%;
  float: left;
  background: url(/images/pattern_a.png) #333;
  border-right: 1px solid #590000;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -o-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
}
#sidebar #head {
  height: 75px;
  background: #b94f42;
  background: -moz-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b94f42), color-stop(100%, #972d20));
  background: -webkit-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -o-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -ms-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: linear-gradient(top, #b94f42 0%, #972d20 100%);
  border: 1px solid #590000;
  border-left: none;
  border-right: none;
  line-height: 75px !important;
  text-align: center;
}
#sidebar #head #logo {
  /*background: url('../../images/brands/friskyhands/logo.png');*/
  width: 200px;
  height: 75px;
}
#sidebar .block {
  width: 180px;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #590000;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
#sidebar .block.adspace {
  height: 75px;
}
#sidebar .block.adspace img {
  width: 180px;
  height: 75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px #000000;
  -moz-box-shadow: 0 1px 3px #000000;
  -o-box-shadow: 0 1px 3px #000000;
  box-shadow: 0 1px 3px #000000;
}
#sidebar .block.userspace {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
#sidebar .block.userspace span.username {
  display: block;
  float: left;
  font: bold 14px;
  width: 130px;
  margin: 0 0 0 10px;
}
#sidebar .block.userspace a {
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 10px;
  font-size: 12px;
  font-style: italic;
}
#sidebar .block.userspace a:hover {
  margin-left: 11px;
}
#sidebar .block.userspace ul {
  float: left;
  margin: 5px 0 0 8px;
}
#sidebar .block.userspace ul li {
  width: 26px;
  height: 27px;
  float: left;
  background: url(/images/user_buttons_transparent.png);
  cursor: pointer;
  position: relative;
}
#sidebar .block.userspace ul li:hover {
  background-position-y: -27px;
  top: -1px;
}
#sidebar .block.userspace ul li:active {
  background-position-y: -54px;
  top: 1px;
}
#sidebar .block.userspace ul li:first-child {
  width: 27px;
}
#sidebar .block.userspace ul .messages {
  background-position-x: -27px;
}
#sidebar .block.userspace ul .messages span {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: -5px;
  left: 12px;
  text-align: center;
  font-size: 11px;
  background: url(/images/badge.png);
}
#sidebar .block.userspace ul .personal {
  background-position-x: -53px;
}
#sidebar .block.userspace ul .invites {
  background-position-x: -79px;
}
#sidebar .block.userspace ul .buddies {
  background-position-x: -105px;
}
#sidebar input[type="text"] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  width: 140px;
  height: 30px;
  padding: 0 20px;
  margin: 10px 8px;
  border: 1px solid #590000;
  outline: none;
  font-size: 12px;
}
