#sidebar .block.userspace a {
	margin: 0;
}

#sidebar .portrait {
	margin-left: 10px;
}

#sidebar .block.userspace p.username {
	display: block;
	float: left;
	font: bold 14px;
	width: 100px;
	margin: 0 0 0 10px;
}

#sidebar .block.userspace ul {
	clear:both;
	margin: 10px 0 0 8px;
}
