.posting[avatar]
  %table
    %tr
      %td.avatar.thumb
        = render_post_it(avatar)
      %td
        = render :partial => 'posting/avatars/polaroid', :locals => { :avatar => avatar }
        / = render :partial => 'comments/comment', :collection => avatar.children.comments
        / %div{:id => "posting_#{avatar.id}_new_comment_well"}
        / = render :partial => 'comments/new', :locals => { :parent_id => avatar.id }
