.posting[avatar]
  %table
    %tr
      %td.avatar.thumb
        = render_attachment(avatar)
      %td
        = render :partial => 'wave/profiles/profile', :object => avatar.profile
        = render_comments(avatar)

