- css_class = defined?(:css_class) ? css_class : ''
- id = defined?(:id) ? id : ''

.polaroid-container{ :class => css_class }
  .polaroid{ :id => id }
    = render :partial => 'posting/avatars/polaroid_front_face', :locals => { :avatar => avatar } 
    = render :partial => 'posting/avatars/polaroid_back_face', :locals => { :avatar => avatar } 
