#sidebar {
  width: 200px;
  height: 100%;
  float: left;
  background: #b94f42 url(/images/pattern_a.png);
  border-right: 1px solid #590000;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -o-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
}
#sidebar #head {
  height: 75px;
  background: #b94f42;
  background: -moz-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b94f42), color-stop(100%, #972d20));
  background: -webkit-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -o-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: -ms-linear-gradient(top, #b94f42 0%, #972d20 100%);
  background: linear-gradient(top, #b94f42 0%, #972d20 100%);
  border: 1px solid #590000;
  border-left: none;
  border-right: none;
  line-height: 75px !important;
  text-align: center;
}
#sidebar #head #logo {
/*  background: url('/images/brands/friskyhands/logo.png');*/
  width: 200px;
  height: 75px;
}
#sidebar .block {
  width: 180px;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #590000;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
#sidebar .block.adspace {
  height: 75px;
}
#sidebar .block.adspace img {
  width: 180px;
  height: 75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px #000000;
  -moz-box-shadow: 0 1px 3px #000000;
  -o-box-shadow: 0 1px 3px #000000;
  box-shadow: 0 1px 3px #000000;
}
#sidebar .block.userspace {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
#sidebar .block.userspace span.greeting {
  font-size: 12px;
  display: block;
  float: left;
  margin: 0 0 0 10px;
}
#sidebar .block.userspace span.username {
  display: block;
  float: left;
  /*font: bold 14px;*/
  font-size: 14px;
  width: 130px;
  margin: 0 0 0 10px;
}
#sidebar .block.userspace a {
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 10px;
  font-size: 12px;
  font-style: italic;
}
#sidebar .block.userspace a:hover {
  margin-left: 11px;
}
#sidebar .block.navspace ul {
  float: left;
}
#sidebar .block.navspace ul li {
  width: 180px;
  float: left;
  /* background: url(/images/user_buttons_transparent.png) no-repeat; */

  cursor: pointer;
  position: relative;
  line-height: 28px;
  /* text */

  text-shadow: 0 1px 1px #000;
  font-size: 13px;
}
#sidebar .block.navspace ul li:before {
  content: " ";
  display: block;
  float: left;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  /*-webkit-transition: all 0.1s;*/
  background: url(/images/user_buttons_transparent.png);
}
#sidebar .block.navspace ul li:hover span {
  left: 22px;
}
#sidebar .block.navspace ul li:hover:before {
  margin-left: 10px;
}
#sidebar .block.navspace ul li ul {
  margin-left: 20px;
}
#sidebar .block.navspace ul li ul li:hover {
  cursor: pointer;
  left: 0;
}
#sidebar .block.navspace ul li ul li:before {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  background: url(/images/user_buttons_transparent.png);
  background-position: -25px 0;
}
#sidebar .block.navspace ul li ul li.signals:before {
  background-position: 0 -25px;
}
#sidebar .block.navspace ul li ul li.status:before {
  background-position: 0 -50px;
}
#sidebar .block.navspace ul li ul li.photos:before {
  background-position: 0 -75px;
}
#sidebar .block.navspace ul li ul li.videos:before {
  background-position: 0 -100px;
}
#sidebar .block.navspace ul .messages:before {
  background-position: 0 -25px;
}
#sidebar .block.navspace ul .messages span {
  display: block;
  float: left;
  min-width: 18px;
  height: 18px;
  background: #ff0;
  border-radius: 20px;
  border: 1px solid #7b2011;
  line-height: 18px;
  position: absolute;
  top: -5px;
  left: 12px;
  text-align: center;
  font-size: 11px;
  z-index: 10;
  background: #c44d3b;
  background: -moz-linear-gradient(top, #c44d3b 0%, #ba311a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c44d3b), color-stop(100%, #ba311a));
  background: -webkit-linear-gradient(top, #c44d3b 0%, #ba311a 100%);
  background: -o-linear-gradient(top, #c44d3b 0%, #ba311a 100%);
  background: -ms-linear-gradient(top, #c44d3b 0%, #ba311a 100%);
  background: linear-gradient(top, #c44d3b 0%, #ba311a 100%);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 3px rgba(0, 0, 0, 0.25);
  /* background: url(/images/badge.png); */

}
#sidebar .block.navspace ul .personal {
  background-position: -53px 0;
}
#sidebar .block.navspace ul .invites {
  background-position: -79px 0;
}
#sidebar .block.navspace ul .buddies {
  background-position: -105px 0;
}
#sidebar input[type="text"] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  width: 140px;
  height: 30px;
  padding: 0 20px;
  margin: 10px 8px;
  border: 1px solid #590000;
  outline: none;
  font-size: 12px;
}
