.event[event]<
  .ticket<
    .header.grid_12.alpha.omega
      &nbsp;
    .left-info-pane.grid_2.alpha
      &nbsp;
    .center-pane.grid_6<
      .promoter_name<
        = event.promoter_name
      .presents<
        Presents
      .description<
        = event.description
    .right-info-pane.grid_2
      &nbsp;
    .stub-pane.grid_2.omega<
      &nbsp;
