- if @waves.length == 0
  .grid_12.push_2.suffix_2.blank.canvas.centered
    %p You haven't buddied anyone yet.
- else
  .wave.roll_call.grid_16
    - @waves.in_groups_of(3) do |group|
      - group.each_with_index do |profile, idx|
        - unless profile.nil?
          = render :partial => 'wave/profiles/profile', :locals => { :profile => profile }
  .grid_16    
    = will_paginate @waves
