<p>
  <b>User:</b>
  <%=h @friendship.user_id %>
</p>

<p>
  <b>Buddy:</b>
  <%=h @friendship.buddy_id %>
</p>


<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>