= form.fields_for :persona, personage.persona do |persona_form|
  .headshot-container
    .headshot
      .face
        .pane
          %table.biometrics
            %tr
              %td.label Name
              %td.detail= persona_form.text_field :handle, :placeholder => 'Name', :maxlength => 20, :size => 16
            %tr
              %td.label Location
              %td.detail= persona_form.text_field :location, :placeholder => 'town or city, state', :maxlength => 20, :size => 16
