html.application body {
	background: url('/images/friskyforces/fibers.jpg') repeat top center #415943;
}

html.application .header.primary { 
	background: url('/images/friskyforces/header.png') no-repeat top center;
}

html.application .header.primary ul.nav li a {
	background-image: url('/images/friskyforces/header.png');
}

html.application .page.footer {
	color: #FFF;
}

html.application .header.secondary { 
	color: #FFF
}

html.application .header.secondary a:visited,
html.application .header.secondary a:active {
    color: #FFF;
}
