= render :partial => File.join('personages', 'shared', 'avatar'), :locals => { :personage => personage }
= show_or_edit_headshot_pane(personage, 'biometrics')
= show_or_edit_headshot_pane(personage, 'map')
= render :partial => File.join('personages', 'shared', 'preferences'), :locals => { :personage => personage }
