%table.biometrics.map
  %tr
    %td.label.location Location
    %td.detail= persona.location
  %tr
    %td{ :colspan => '2' }
      - if persona.lat && persona.lng
        = image_tag persona.map_url, :alt => persona.address, :title => persona.address, :class => 'place_persona_map'
