= render :partial => File.join('personages', 'shared', 'avatar')
= render :partial => File.join('personages', 'person', 'edit_biometrics')
= render :partial => File.join('personages', 'shared', 'preferences')
