= render :partial => File.join('personages', 'shared', 'avatar')
= render :partial => File.join('personages', 'person', 'biometrics')
=# render :partial => 'invitations'
= render :partial => File.join('personages', 'shared', 'preferences')