.headshot-container
  .headshot
    .face
      .pane
        = render :partial => File.join('personages', 'person', 'map'), :locals => { :persona => personage.persona }
      .button-bar
        = link_to 'Change', edit_profile_path(personage, :pane => 'map'), :class => 'button edit_profile'
