.headshot-container
  .headshot
    .face
      .pane
        %h1 Credentials
        %table.credentials
          %tr
            %td
              %p Email Address
              = personage.email
              .instructions Your email is your login.
          %tr
            %td Password: On File
      .button-bar
        = link_to 'Change', edit_profile_path(personage, :pane => 'credentials'), :class => 'button edit_profile'
