- path_proc = proc { |tag_as_param| inbox_path(:tag => tag_as_param) }
- content_for_sidebar_tag_cloud(tags, params[:tag], path_proc)
#inbox
  %div.clearfix
    - paged_conversations.each do |conversation|
      = render_headshot(conversation.recipient, :link_to_close_wave_id => conversation[:id])
  = will_paginate paged_conversations, :class => 'footer pagination', :inner_window => 1, :outer_window => 1
