.admin.canvas {
	background-color: rgb(249, 249, 243);
	background:
		-webkit-gradient(linear, 0 0%, 0 80, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 0% 0, 10% 0, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 90% 0, 100% 0, from(rgba(249, 249, 243, 0)), to(lightgrey)),
		-webkit-gradient(linear, 0% 0%, 20% 200, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 100% 0%, 80% 200, from(lightgrey), to(rgba(249, 249, 243, 0))), #FFF;

    -webkit-box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);		
    -moz-box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	border: none;
	padding: 20px 0;
}

.admin h1 {
	font-size: 1.2em;
	color: #000;
	margin-top: 0px;
	margin-left: 20px;
}

.admin table.index {
	margin: 0 auto;
	width: 100%;
}

.admin table.index th,
.admin table.index td {
	text-align: left;
	padding: 5px 20px;
}

.admin table.index th + th,
.admin table.index td + td {
	border-left: 1px dotted grey;	
}

.admin table.index tr:nth-child(even) {
	background: rgba(120, 120, 120, 0.1);
}

.admin table.index td.actions {
	text-align: center;
}
.admin table.index td.actions a:nth-child(1) {
	margin-right: 5px;
}

.admin.invitations table.index td {
	vertical-align: middle;
}

.admin.invitations table.index li {
	float: left;
	margin-right: 10px;
}
.admin.invitations table.index img.thumb {
	width: 80px;
	height: 80px;
	background-color: #FFF;
	border: 1px solid lightgrey;
}

.admin form {
	margin-left: 20px;
}

.admin table.index form.posting_invitation_state {
	margin-left: 0px;
}

.admin label {
	font-size: 12px;
	margin-right: 20px;
}

.admin .button-bar {
	text-align: center;
	margin: 10px auto;
}
