.admin {
	background-color: rgb(249, 249, 243);
	background:
		-webkit-gradient(linear, 0 0%, 0 80, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 0% 0, 10% 0, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 90% 0, 100% 0, from(rgba(249, 249, 243, 0)), to(lightgrey)),
		-webkit-gradient(linear, 0% 0%, 20% 200, from(lightgrey), to(rgba(249, 249, 243, 0))),
		-webkit-gradient(linear, 100% 0%, 80% 200, from(lightgrey), to(rgba(249, 249, 243, 0))), #FFF;

    -webkit-box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);		
    -moz-box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2),
		inset 0px 0px 3px 3px rgba(255, 255, 255, 0.8);

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	border: none;
	padding: 20px 0;
}

.admin table {
	display: block;
	margin: 0 20px;	
	overflow: auto;
}

.admin table th,
.admin table td {
	text-align: left;
	padding: 5px;	
}

.admin table td.actions {
	text-align: right;
} 

.admin .button-bar {
	text-align: center;
	margin: 10px auto;
}

.admin.invitation td {
	vertical-align: middle;
}

.admin.invitation li {
	float: left;
	margin-right: 10px;
}
.admin.invitation img.thumb {
	width: 80px;
	height: 80px;
	background-color: #FFF;
	border: 1px solid lightgrey;
}
