.ui-widget {
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
}

#login a.button {
	position: relative;
	margin: 0.5em 0.4em 0.5em 0;
	zoom: 1;
	top: -3px;
	left: -4px;
	height: 27px;
}

#login button {
	vertical-align: baseline;
}

.wave_invitation .polaroid td.input {
	text-align: left;
}

.wave_invitation .polaroid td.ok-cancel {
	text-align: right;
}

form#new_posting_video input#posting_video_url {
	width: 278px;
}

