p {
    font-size: 1.2em;
    line-height: 1.4em;
}

/*a.ui-button, a.ui-button:link, a.ui-button:hover, a.ui-button:visited, a.ui-button:active {
	border-bottom: inherit;
}*/

/*a, a:link, a:hover, a:visited, a:active {
    border-bottom: 1px dotted #FFF;
}*/

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	line-height: 1.4em;
}

h3 {
	font-size: 1.4em;
	margin-bottom: 0.2em;
}

h4 {
/*	padding-right: 1em;*/
	font-size: 1.8em;
	line-height: 1.4em;
	font-weight: normal;
}

form {
	clear:both;
}

label {
	display: block;	
	font-weight: normal;
    font-size: 1em;
    line-height: 1.4em;
}

input[type='text'],
input[type='password'],
input.password {
    width: 210px;
}

.container {
	padding-top: 4em;
	text-align: center;
}

.creative {
    padding-bottom: 4em;
}

.blurb p {
    padding-right: 20px;
    font-size: 1.4em;
	margin: 0;
}

.panel.login,
.panel.signup,
.panel.new_password {
	padding-top: 1em;
	width: 100%;
}

/*.button-bar a {
    margin-top: 0.5em;
}*/

.panel.login h3 {
    float: left;
}

.panel.login a.new_password {
    float: right;
    font-size: small;
}

.panel p {
    clear: both;
    margin-top: 0.6em;
}

.flash.error {
	margin-left: 1em;
	list-style: disc outside;
	marker-offset: auto;
}

.flash.error li {
    font-size: 1.1em;
    line-height: 1.4em;
}

.flash.notice {
    text-align: center;
}
