%ul.block{ :class => [ persona_type, 'usersspace' ]}
  - personages.each do |user|
    %li
      - url = url_for(user.profile)
      .portrait= thimble_link_to_profile(user, url)
      = link_to user.handle, url, :class => 'handle'
