- persona_display_name = persona_type.to_s.titleize.pluralize
.block.rollcall
  - users.each_with_index do |user, idx|
    - css_class = (idx + 1) % 5 == 0 ? 'omega' : nil
    .portrait{ :class => css_class }= thimble_link_to_profile(user)
  = link_to "More #{persona_display_name} &rarr;".html_safe, rollcall_path, :class => 'more'
