body {
	background: url('/images/friskyfactory/golden_fibers.png') repeat-y top center #CEC2A2;
}

.header.primary { 
	background: url(/images/positivelyfrisky/header.png) no-repeat top center;
}

.header.primary ul.nav li a {
	background-image: url(/images/positivelyfrisky/header.png);
}
