.header.primary { 
	background: url(/images/positivelyfrisky/header.png) no-repeat top center;
}

.header.primary ul.nav li a {
	background-image: url(/images/positivelyfrisky/header.png);
}

body {
	background: url('/images/positivelyfrisky/fibers.jpg') repeat top center #90869E;
}

.page.footer {
	color: #FFF;
}

.header.secondary { 
	color: #FFF
}

.header.secondary a:visited,
.header.secondary a:active {
    color: #FFF;
}
