.header.primary { 
	background: url(/images/positivelyfrisky/header.png) no-repeat top center;
}

.header.primary ul.nav li a {
	background-image: url(/images/positivelyfrisky/header.png);
}

body {
	background: url('/images/positivelyfrisky/grey-fibers.png') repeat top center #666;
}

.page.footer {
	color: #FFF;
}

