body {
	background: url(/images/positivelyfrisky/background-24.jpg) no-repeat top center;	
	background-color: #52356F;
}

label {
	color: #FFF;
}

p {
    color: #FFF;
	text-shadow: 0 1px 2px #0B007E;
}

ul.flash.error li {
    color: #FFF;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

a, a:link, a:hover, a:visited, a:active {
	color: #FFF;
}

a.ui-button, a.ui-button:link, a.ui-button:hover, a.ui-button:visited, a.ui-button:active {
    color: inherit;
}

h1 {
	color: #FFF;
	text-shadow: 4px 8px 6px #4A007E;
}

h2 {
	color: #4A007E;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

h3 {
	color: #FFF;
	text-shadow: 1px 2px 1px #4A007E;
}

h4 {
	color: #FFF;
	text-shadow: 0 3px 3px #4A007E;
}

input[disabled] {
	color: #AAA;
}

.panel.login a.new_password {
    color: #FFF;
}

.flash.notice a {
    color: #FFF;
}

.password-edit label {
	color: #501518;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);    
}
