.wave.clearfix[album]
  %ul.posting_photos
    - album.photos.each do |photo|
      %li
        .posting[photo]
          .photo.canvas
            = link_to(render_photo(photo, :class => 'small'), wave_album_photo_path(album, photo), :target => '_blank')
