.wave.clearfix[album]
  %ul.posting_photos
    - album.photos.each do |photo|
      %li
        .posting[photo]
          .photo.canvas
            - render_photo(photo, :class => 'small') do |image_tag|
              = link_to(image_tag, wave_album_photo_path(album, photo), :target => '_blank')
              
