.wave.clearfix[album]
  %ul.posting_photos
    - photos = album.photos; photo_count = photos.length
    - photos.each do |photo|
      %li
        .posting[photo]
          .photo.canvas
            = link_to_album_photo(album, photo, :class => ((photo_count > 1) ? 'small' : ''))
