- stylesheet 'waves'
- javascript 'wave'
- javascript 'broadcast'

.wave[@wave]
  .grid_3
    %p.flash= flash[:notice]
    #events
    &nbsp;
    
  .grid_12
    %h1= @wave.topic
    = render :partial => 'nav'
    %ul.postings
      = render :partial => 'postings/posting', :collection => @wave.postings.for(current_user)
      
  .grid_1
    &nbsp;
