<% javascript 'wave' %>
<div class='wave grid_12'>
	<h1>Wave</h1>
	<p>Topic:&nbsp;<%= h @wave.topic %></p>
	<p>Description:&nbsp;<%= h @wave.description %></p>
	<hr/>
	<div id='log'></div>
	<hr/>
	<%= render :partial => 'postings/posting', :collection => @wave.postings %>
</div>

<% javascript_tag do %>
  jQuery(document).ready(function(){
    $('form.new_posting_comment')
      .find('textarea')
      .keypress(function(){
        $(this)
          .height('3.6em')
          .next().show()
          .closest('table')
          .find('img.avatar').show(); })
      .blur(function(){
        if ($(this).val() === $(this).attr('placeholder')) {
          $(this)
            .height('1.2em')
            .next().hide()
            .closest('table').find('img.avatar').hide();
        }
      });
  });
<% end %>      