.wave[@wave]
  .grid_1
    &nbsp;
    
  .grid_12
    %h1= @wave.topic
    - if flash[:notice].present?
      %p.flash= flash[:notice]
    #events
    = render :partial => 'nav'
    %ul.postings
      = render_postings(@wave.postings.for(current_user))

  .grid_3
    &nbsp;
