<% javascript 'wave' %>
<div class='wave grid_12'>
	<h1>Wave</h1>
	<p>Topic:&nbsp;<%= h @wave.topic %></p>
	<p>Description:&nbsp;<%= h @wave.description %></p>
	<hr/>
	<div id='log'></div>
	<hr/>
	<%= render :partial => 'postings/posting', :collection => @wave.postings %>
</div>
