- javascript 'wave'
.wave.grid_12
  %h1= h @wave.topic
  = content_tag(:p, flash[:notice], :class => 'flash') if flash[:notice]
  - if false
    #log
  = render :partial => 'postings/posting', :collection => @wave.postings
