.badge.prefix_3.grid_10.suffix_3
  = image_tag 'badge.png', :size => '520x220', :site => true
  %h1 Hot and Sexy. Never Anything Else.
  %h4 FriskyLatino is a new destination for the Latino men, their friends and admirers.
  .grid_8.prefix_1.suffix_1.alpha.omega
    %p Find guys for new friends, dating and lovers in a great environment where privacy is a priority.
