.badge.prefix_3.grid_10.suffix_3
  = image_tag 'badge.png', :size => '520x220', :site => true
  %h1 A Sign of Good Times!
  %h4 FriskyHands is the social networking site designed especially for the Deaf GLBTQ Community and their Friends.
