- if current_user
  %ul.wave.community.nav
    %li= link_to 'Message', '#posting_text'
    %li= link_to 'Post-it', '#posting_post_it'
    %li= link_to 'Photo', '#posting_photo'
    
    / %li
    /   %a{ :href => '#video' } Video
    / %li
    /   %a{ :href => '#chat' } Chat
    / %li
    /   %a{ :href => '#link' } Link
    / %li
    /   %a{ :href => '#event' } Event
    / %li
    /   %a{ :href => '#poll' } Poll
