- if current_user
  %ul.wave.community.nav
    %li= link_to 'Message', new_wave_posting_text_path(@wave), :rel => '#posting_text'
    %li= link_to 'Post-it', new_wave_posting_post_it_path(@wave), :rel => '#posting_post_it'
    %li= link_to 'Photo', new_wave_posting_photo_path(@wave), :rel => '#posting_photo'
    
    / %li
    /   %a{ :href => '#video' } Video
    / %li
    /   %a{ :href => '#chat' } Chat
    / %li
    /   %a{ :href => '#link' } Link
    / %li
    /   %a{ :href => '#event' } Event
    / %li
    /   %a{ :href => '#poll' } Poll
