- if current_user
  %ul.wave.community.nav
    %li= link_to 'Message', '#text'
    %li= link_to 'Photo', '#photo'
    / %li
    /   %a{ :href => '#video' } Video
    / %li
    /   %a{ :href => '#chat' } Chat
    / %li
    /   %a{ :href => '#link' } Link
    / %li
    /   %a{ :href => '#event' } Event
    / %li
    /   %a{ :href => '#poll' } Poll
