- if current_user
  .tab_contents
    #posting_text.tab_content.clearfix.hidden
      = render :partial => 'posting/texts/form'
    #posting_post_it.nav.tab_content.clearfix.hidden
      = render :partial => 'posting/post_its/form'
    #wave_album.tab_content.clearfix.hidden
      = render :partial => 'wave/albums/new'
    #posting_video_upload.tab_content.clearfix.hidden
      = render :partial => 'posting/videos/form'
