- if current_user
  .tab_contents
    #posting_text.tab_content.clearfix.hidden
      = render :partial => 'posting/texts/form'
    #posting_post_it.tab_content.clearfix.hidden
      = render :partial => 'posting/post_its/form'
    #posting_photo.tab_content.clearfix.hidden
      = render :partial => 'posting/photos/form'
    #posting_video_upload_container.tab_content.clearfix.hidden
      = render :partial => 'posting/videos/form'

    / #video.tab_content.hidden
    / #link.tab_content.hidden
    /   = render :partial => 'links/form', :locals => { :label => 'Add a Link to the Wave', :wave => @wave }
    / #event.tab_content.hidden Event
    / #poll.tab_content.hidden Poll
