- path_proc = proc { |tag_as_param| url_for(:controller => 'communities', :action => 'rollcall', :id => wave.id, :tag => tag_as_param) }
- content_for_sidebar_tag_cloud(tags, params[:tag], path_proc)
#rollcall
  - paged_rollcall.each do |user|
    = render_headshot(user)
  = will_paginate paged_rollcall, :class => 'pagination footer', :inner_window => 1, :outer_window => 1
