.wave.clearfix[@wave]
  .grid_5<
    &nbsp;
  .grid_6<
    = render :partial => 'nav'
  .grid_5<
    &nbsp;
  .grid_16<
    = render :partial => 'tab_content'
  .grid_16<
    = render_postings @postings
  .grid_16<
    = will_paginate @postings
