.wave.clearfix[@wave]
  .grid_6.push_5
    = render :partial => 'nav'
  .grid_16
    = render :partial => 'tab_content'
  .grid_16#postings-container
    = render_postings @postings
  .grid_16
    = will_paginate @postings
