#floating
#frame
  = render :partial => 'layouts/shared/reaction-template'
  = render :partial => 'layouts/shared/nav'
  = render :partial => 'show'
  = render :partial => 'layouts/shared/unpublish_overlay'
