.posting[avatar]
  %table
    %tr
      %td.avatar.thumb
        = render_post_it(avatar.profile)
      %td
        = render :partial => 'postings/avatars/polaroid', :locals => { :avatar => avatar }
        / = render :partial => 'postings/comments/comment', :collection => avatar.children.comments
        / %div{:id => "posting_#{avatar.id}_new_comment_well"}
        / = render :partial => 'postings/comments/new', :locals => { :parent => avatar }
