.face-container
  .back.face
    .content.scrollable
      .items
        %table.header
          %tr
            %td.avatar
              = avatar_image_tag(avatar, :style => :thumb)
            %td.username<
              = avatar.user.first_name
        %div
          - if content_for?(:polaroid_back_face)
            = content_for(:polaroid_back_face)
          - else            
            Mini-profile will go here, eventually!
          -# %div
          -#   = image_tag 'chat-b-side.png', :width=>'260px'
          -# %div
          -#   = image_tag 'message-b-side.png', :width=>'260px'
          -# %div
          -#   = image_tag 'photos-b-side.png', :width=>'260px'
          -# %div
          -#   = image_tag 'profile-b-side.png', :width=>'260px'
    %ul.buddy-bar.secondary
      %li
        = link_to 'Polaroid', 'polaroid', :class => 'flip headshot icon'
    -# %ul.buddy-bar.primary.navi
      -# %li
      -#   = link_to 'Chat', 'chat', :class => 'chat icon'
      -# %li
      -#   = link_to 'Message', 'message', :class => 'message icon'
      -# %li
      -#   = link_to 'Photos', 'photos', :class => 'photos icon'
      -# %li
      -#   = link_to 'Profile', 'profile', :class => 'profile icon last'
