.face-container
  .front.face
    .content
      = avatar_image_tag(avatar, :alt => (first_name = avatar.user.first_name), :class => 'headshot')
      %table.header
        %tr
          %td.username<
            = first_name
          %td.status
            - if content_for?(:polaroid_front_face)
              = content_for(:polaroid_front_face)
            - else
              -# Looking for fun
      -# %ul.buddy-bar.secondary
      -#   %li
      -#     = link_to 'Comment', '#', :class => 'comment icon'
      -#   %li.comment-count
      -#     4
      %ul.buddy-bar.primary
        -# %li
        -#   = link_to 'Block', '#', :class => 'block icon'
        -# %li
        -#   = link_to 'Buddy', '#', :class => 'buddy icon'
        -# %li
        -#   = link_to 'Pin', '#', :class => 'pin icon'
        -# %li
        -#   = link_to 'Chat', 'chat', :class => 'flip chat icon'
        -# %li
        -#   = link_to 'Message', 'message', :class => 'flip message icon'
        -# %li
        -#   = link_to 'Photos', 'photos', :class => 'flip photos icon'
        %li
          = link_to 'Profile', 'profile', :class => 'flip profile icon last'
