- if local_assigns[:profile].present?
  - avatar = profile.avatar
- if local_assigns[:avatar].present?
  - profile = avatar.profile

- cache(profile.cache_key) do
  .polaroid-container
    .polaroid{ :'data-id' => profile.id }
      = render :partial => 'postings/avatars/polaroid_front_face', :locals => { :profile => profile, :avatar => avatar } 
      = render :partial => 'postings/avatars/polaroid_back_face', :locals => { :profile => profile, :avatar => avatar } 
