#frame {
	min-width: 960px;
	min-height: 100%;
	overflow: hidden;
	margin-left: 221px;
}

.headshot-container {
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.dropzone.file_upload {
	overflow: hidden;
}

.no-ie .file_upload {
	cursor: pointer;
}

.file_upload input[type='file'] {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 120px solid transparent;
	border-bottom: 120px solid transparent;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	filter: alpha(opacity=0);
	 -o-transform: translate(-10px, -120px) scaleX(1) scaleY(12);
	 -moz-transform: translate(-10px, -120px) scaleX(1) scaleY(12);
	cursor: pointer !important;
}

.ie .file_upload input[type='file'] {
	width: 200px;
	height: 240px;
}

.file_upload iframe {
	 display: none;
}

.instructions {
	clear: both;
	margin-top: 10px;
	color: #666;
	font: italic 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	cursor: pointer !important;
}

.ie .instructions .no-dragdrop {
	display: inline;
}

.ie .instructions .dragdrop {
	display: none;
}
