.ticket {
	margin: 0 auto;
	width: 700px;
	height: 254px;
	background: url('/images/friskyhands/ticket.png');
}

.ticket .center-pane {
	width: 360px;
	margin-left: 104px;
	padding-top: 80px;
}

.ticket .promoter_name {
	font-size: 24px;
	text-align: center;
	margin: 10px 0;
}

.ticket .presents {
	font-size: small;
	color: gray;
	text-align: center;
	margin: 10px 0;
}

.ticket .description {
	text-align: center;
}

.wave.events .event {
	margin: 10px 0;
}

.wave.events .event {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    postition: relative;
}

.wave.events .event:nth-child(even) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

.wave.events .event:nth-child(3n) {
	position: relative;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    top: -30px;
    right: 30px;
}

.wave.events .event:nth-child(5n) {
	position: relative;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    left: 30px;
}

.wave.events .event:nth-child(8n) {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    top: 10px;
    right: 10px;
}

.wave.events .event:nth-child(11n) {
    top: -10px;
    right: -15px;
}

#new_event_overlay {
	background: url('/images/friskyhands/golden_fibers.png') repeat-y top center #CEC2A2;
	height: 300px;
	padding: 20px;
	-webkit-box-shadow: 0 0 90px #000;	
	-moz-box-shadow:0 0 90px 5px #000;
	box-shadow:0 0 90px 5px #000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#new_event_overlay .close {
	background-image: url(/images/friskyhands/close.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

#new_event_overlay .ticket .center-pane {
	padding-top: 60px;
}

#new_event_overlay form {
	position: relative;
	margin: 0 auto;
	width: 700px;
	font-family: 'Arial';
}

#new_event_overlay .ticket .presents {
	margin: 0;
}

#new_event_overlay input#wave_event_promoter_name {
	font-size: 24px;
	text-align: center;
	background: none;
}

#new_event_overlay textarea#wave_event_description {
	height: 66px;
	text-align: center;
	resize: none;
	background: none;
}

#new_event_overlay .button-bar {
	text-align: right;
	padding-right: 20px;	
	margin: 20px 0;
}
