.ticket-container {
	width: 700px;
	height: 254px;
	-webkit-perspective: 1200;
}

.ticket-container > .ticket {
	position: absolute;
	width: 700px;
	height: 254px;
	-webkit-transform-style: preserve-3d;	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
}

.ticket-container > .ticket.flipped {
	-webkit-transform: rotateY(180deg);
}

.ticket-container > .ticket .face {
	position: absolute;
	-webkit-backface-visibility: hidden;    
}

.ticket .front.face {
	margin: 0 auto;
	width: 700px;
	height: 248px;
	background: url('/images/friskyhands/ticket.png');
}

.ticket .front.face .header {
	height: 20px;
	padding-top: 17px;
	overflow: hidden;
}

.ticket .front.face .header-url {	
	height: 20px;
	padding-top: 4px;
	text-align: center;
}

.ticket .front.face .header-url a,
.ticket .front.face .header-url a:visited {
	color: #fff;	
}

.ticket .front.face .left-info_pane {
	position: relative;
}

.ticket .front.face .start_date {
	text-align: center;
}

.ticket .front.face .center-pane {
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
}

.ticket .front.face .promoter_name {
	font-size: 24px;
	text-align: center;
	margin: 10px 0;
}

.ticket .front.face .presents {
	font-size: small;
	color: gray;
	text-align: center;
	margin: 10px 0;
	text-transform: uppercase;
}

.ticket .front.face .description {
	text-align: center;
	font-size: 16px;
}

.ticket .back.face {
	margin: 0 auto;
	width: 700px;
	height: 248px;
	background: url('/images/friskyhands/ticket.png') 0 -250px;
}

.ticket-container > .ticket .back.face {
	-webkit-transform: rotateY(180deg);
}

.ticket .back.face .info-pane {
	position: relative;
	margin-top: 14px;
	height: 210px;
	width: 312px;
	overflow-y: auto;
}

.ticket .back.face div.map {
	position: relative;
	left: 20px;
	margin-top: 14px;
	overflow: hidden;
}

.ticket .back.face p.name {
	margin-top: 0px;
}

.ticket .back.face p.body {
	margin-bottom: 0px;
}

#new_event_overlay {
	background: url('/images/friskyhands/golden_fibers.png') repeat-y top center #CEC2A2;
	padding: 5px 20px 10px 20px;
	-webkit-box-shadow: 0 0 90px #000;	
	-moz-box-shadow:0 0 90px 5px #000;
	box-shadow:0 0 90px 5px #000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#new_event_overlay h1 {
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);	
	text-align: center;
}

#new_event_overlay .close {
	background-image: url(/images/friskyhands/close.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

#new_event_overlay form {
	position: relative;
	margin: 0 auto;
	width: 700px;
	font-family: 'Arial';
}

#new_event_overlay .front.face .header {
	height: 38px;
	padding-top: 0;
}	

#new_event_overlay .front.face .header-url {
	height: 24px;
	padding-top: 0;
}	

#new_event_overlay .presents {
	margin: 0;
}

#new_event_overlay input#wave_event_start_date {
	display: block;
	position: relative;
	top: 11px;
	width: 17em;
	height: 24px;
	margin: 0 auto;
	text-align: center;
	padding: 2px;
	border: 0;
	cursor: pointer;
	overflow: hidden;
	background: transparent;
}

#new_event_overlay div.time {
	display: block;
	position: relative;
	top: 11px;
	right: 22px;
	text-align: right;
	font-size: 12px;
	height: 24px;	
	overflow: hidden;
}

#new_event_overlay select.time {
	width: 4em;
}

#new_event_overlay input#wave_event_url {
	display: block;
	position: relative;
	top: 2px;
	height: 18px;
	background-color: transparent;
	color: #fff !important;
	width: 17em;
	margin: 0 auto;
	text-align: center;	
	padding: 2px;
	border: 0;
	cursor: pointer;
}

#new_event_overlay .front.face .center-pane {
	margin-top: 0;
}

#new_event_overlay input#wave_event_promoter_name {
	font-size: 24px;
	text-align: center;
	background: none;
}

#new_event_overlay textarea#wave_event_description {
	font-size: 16px;
	height: 60px;
	text-align: center;
	resize: none;
	background: none;
	color: black;
}

#new_event_overlay textarea#wave_event_body {
	height: 112px;
	resize: none;
}

#new_event_overlay input#wave_event_location_name {
	margin-top: 0;
}

#new_event_overlay .back.face .info-pane {
	overflow: hidden;
}

#new_event_overlay textarea#wave_event_body {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: 0;
}

#new_event_overlay .button-bar {
	text-align: right;
	padding-right: 20px;	
	margin-top: 20px;
}


.wave.events .event {
	margin: 10px 0;
}

.wave.events .event {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    postition: relative;
}

.wave.events .event:nth-child(even) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

.wave.events .event:nth-child(3n) {
	position: relative;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    top: -30px;
    right: 30px;
}

/*.wave.events .event:nth-child(5n) {
	position: relative;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    left: 30px;
}*/

/*.wave.events .event:nth-child(8n) {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    top: 10px;
    right: 10px;
}*/

/*.wave.events .event:nth-child(11n) {
    top: -10px;
    right: -15px;
}*/
