.wave.struct_polaroid_wave .postings,
.wave.struct_roll_call_wave .postings {
    width: 961px;
    margin-left: 6px;
    margin-top: 20px;
}
.wave.struct_polaroid_wave .polaroid-container,
.wave.struct_roll_call_wave .polaroid-container {
    float: left;
    height: 376px;
}

.tag-cloud {
    text-align: center;
}

.tag-cloud a,
.tag-cloud a:visited {
    color: #501508;
    margin: 0 4px;
    padding: 2px 6px;
    border-bottom: 1px dotted #664;
}

.tag-cloud a:hover {
    color: #CCA;
    background-color: rgba(80, 21, 8, 0.8);
}

.tag-cloud .tag1 { font-size: 0.6em; }
.tag-cloud .tag2 { font-size: 0.8em; }
.tag-cloud .tag3 { font-size: 1.0em; }
.tag-cloud .tag4 { font-size: 1.2em; }


.polaroid-container:nth-child(2) {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.polaroid-container:nth-child(5n) {
    position: relative;
    top: 5px;
    left: 10px;
}

.polaroid-container:nth-child(7n) {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.polaroid-container:nth-child(10n) {
    position: relative;
    top: 5px;
    right: 10px;
}
