.wave.struct_polaroid_wave .postings,
.wave.struct_roll_call_wave .postings {
    width: 961px;
    margin-left: 6px;
}
.wave.struct_polaroid_wave .polaroid-container,
.wave.struct_roll_call_wave .polaroid-container{
    float: left;
    height: 376px;
}

.polaroid-container:nth-child(2) {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.polaroid-container:nth-child(5n) {
    position: relative;
    top: 5px;
    left: 10px;
}

.polaroid-container:nth-child(7n) {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.polaroid-container:nth-child(10n) {
    position: relative;
    top: 5px;
    right: 10px;
}
