.postcard {
    position: relative;
    background: url('/images/friskyhands/postcard.png') no-repeat top left;
    width: 460px;
    height: 350px;
    text-align: left;	
}

#postcard {
/*    z-index: 0;*/
}

.postcard .grid_5 {
    width: 226px;
	padding-left: 26px;
}

.postcard .thread {
    height: 188px;
	width: auto;
    margin-top: 26px;
	color: gray;
	font-size: 12px;
	line-height: 18px;
	overflow-x: hidden;
	overflow-y: auto;
}

.postcard .thread .time_ago {
	text-align: center;
	margin-bottom: 6px;
}

.postcard .thread .message {
	margin: 5px 0;
}

.postcard .thread .message img.avatar.thimble {
	position: relative;
	top: -5px;
}

.postcard .thread .message.sent img.avatar.thimble {
	float: right;
	margin-left: 4px;
}

.postcard .thread .message.sent {
	float: right;
	padding-left: 20px;
}

.postcard .thread .message.received {
	float: left;
/*	padding-right: 20px;*/
}

.postcard textarea {
	width: 212px;
    height: 76px;
	margin-top: 10px;	
	background: none;
	font-size: 12px;
	line-height: 18px;
	resize: none;
}

.postcard .stamp {
	position: relative;
	margin-top: 26px;
    width: 160px;
    height: 110px;    
}

.postcard .franking {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 130px;
    height: 64px;
    background: url('/images/friskyhands/postcard.png') no-repeat -284px -346px;
}

.postcard .delivered {
    position: absolute;
    top: 140px;
    left: 40px;
    width: 102px;
    height: 76px;
    background: url('/images/friskyhands/postcard.png') no-repeat -184px -348px;
}

.postcard .address {
    color: lightgray;
    height: 144px;
    line-height: 32px;
	padding-left: 6px;
}

.postcard .address img {
	margin-left: -6px;
}

.postcard .address p {
	margin: 0;
}

.postcard img.avatar.thimble {
    width: 30px;
    height: 30px;
    margin-top: -2px;
    margin-right: 4px;
    border: 1px solid lightgray;
    float: left;
}

.postcard .button-bar {
    text-align: right;
}
