.wave.header {
    text-align: center;
    margin-bottom: 20px;
}

/*.wave_profile .sidebar .posting_avatar {
    margin: 1em 0;
}*/

/*.wave_profile .sidebar .posting_avatar img {
    width: 100%;
}*/

#avatar_upload_well > div {
	float: left;
	margin-right: 1em;
}

#avatar_upload_well div.portrait {
	width: 210px;
}

#avatar_upload_well div.thumb {
	width: 110px;
}

select {
	width: 12em;
}

select.date {
	width: auto;
}

#posting_avatar_spinner {
	margin-top: 120px;
	margin-left: 60px;
}

.wave_profile.current_user div.polaroid {
/*  -webkit-transform: rotate(-1deg);*/
/*  -moz-transform: rotate(-1deg);*/
    position: relative;
    left: 20px;
}
