.wave.header {
    text-align: center;
    margin-bottom: 20px;
}

.wave.header h1 {
    margin: 0;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.wave.header ul.nav {
    margin: 0;
}

.wave.header ul.nav li {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.wave.header ul.nav li a {
	display: block;
	background: url('/images/friskyhands/posting-icons.png') top left no-repeat;
	text-indent: -1000em;
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0;
}
.wave.header ul.nav li:nth-child(1) a {
	background-position: 0px;
}

.wave.header ul.nav li:nth-child(2) a {
	background-position: -50px 0;
}

.wave.header ul.nav li:nth-child(3) a {
	background-position: -100px;
}
