= render :partial => File.join('personages', 'shared', 'avatar'), :locals => { :personage => personage }
= render :partial => File.join('personages', 'ambassador', 'edit_biometrics'), :locals => { :personage => personage }
= render :partial => File.join('personages', 'shared', 'preferences'), :locals => { :personage => personage }
