= render :partial => File.join('personages', 'shared', 'avatar')
= render :partial => File.join('personages', 'ambassador', 'biometrics')
= render :partial => File.join('personages', 'shared', 'preferences')