- user = text.user
.posting.post.blog[text]
  .portrait
    = thimble_link_to_profile(user)
  .clear
    .cell
      - if text.subject.present?
        %h1= text.subject
      by
      = link_to_profile(user)
      %p= text.body || '&nbsp'.html_safe
      %p{:style => "text-align: center;"}
        %a{:href => ""} View Full Post »
    .torn
    %span.date Posted Monday, July 25 at 14:00
    %span.comments
      %a#4{:href => "javascript:void();"} (2 comments)
