- if @posting.present? && @posting.valid?
  :plain
    var $posting = $("#{escape_javascript(render_posting(@posting))}");
    $posting.posting();
    $.navOK($posting);
    
- else
  :plain
    alert(@posting.errors.full_messages.to_sentence);
