- if @posting.present? && @posting.valid?
  :plain
    var $posting = $("#{escape_javascript(render(:partial => 'text', :object => @posting))}");
    $posting.prependTo('ul.postings:first').wrap('<li>');
    var $currentTab = $('ul.wave.nav li.current').removeClass('current');
    $($('a', $currentTab).attr('rel')).hide().trigger('reset');    
    $('.flash').text('');
- else
  :plain
    $('.flash')
      .text("Couldn't save your posting: #{@posting.errors.full_messages.to_sentence}")
