- if @posting.present? && @posting.valid?
  :plain
    var
      $posting = $("#{escape_javascript(render(:partial => "wave/#{resolver}/posting", :object => @posting))}"),
      $currentTab = $('ul.wave.nav li.current');
    
    $currentTab.removeClass('current');
    
    $($('a', $currentTab).attr('rel'))
      .hide()
      .find('form')
      .trigger('reset');
      
    $('.flash').text('');
    
    $posting.prependTo('ul.postings:first').wrap('<li>');
    $posting.trigger('init');

- else
  :plain
    $('.flash')
      .text("Couldn't save your posting: #{@posting.errors.full_messages.to_sentence}")
