%script#reaction-template{ :type => "text/template" }
  {{#posting_base}}
  %ul.comments.fetched
    {{#comments}}
    %li
      .mini_comment{ uid, gid, :id => 'posting_comment_{{id}}' }
        .portrait
          %img{ :src => '{{image_path}}', :width => '32', :height => '32', :title => '{{handle}}' }/
        .comment
          %p {{body}}
          %span.date Posted {{updated_at}} ago
          %span.comments
            %a{ :href => '{{posting_comments_path}}?reply={{id}}', :'data-remote' => 'true', :class => 'comments' } Reply
    {{/comments}}
  {{/posting_base}}
  {{#wave_album}}
  %ul.photos.fetched
    {{#comments}}
    %li
      %a{ :href => '{{posting_comments_path}}', :'data-remote' => 'true', :class => 'comments', :remote => true }
        %img{ :src => '{{fetched_image_path}}', :class => 'photo fetched {{orientation}}' }
    {{/comments}}
  %a{ :href => '{{posting_comments_path}}', :'data-remote' => 'true', :class => 'comments footer', :remote => true } Show photos &rarr;
  {{/wave_album}}