%script#reaction-template{:type => "text/application"}
  {{#comments}}
  .mini_comment{ uid, gid, :id => 'posting_comment_{{id}}' }
    .portrait
      %img{ :src => '{{image_path}}', :width => '32', :height => '32', :title => '{{handle}}' }/
    .comment
      %p
        %a{ :href => "/postings/{{posting_id}}/comments", :'data-remote' => "true", :class => 'comments' } {{body}}
      %span.date Posted {{updated_at}} ago
      %span.comments
        %a{ :href => "/postings/{{posting_id}}/comments", :'data-remote' => "true" } Reply
  {{/comments}}