.badge.prefix_3.grid_10.suffix_3
  = image_tag 'badge.png', :size => '520x220', :site => true
  %h1 Freedom From Addiction
  %h4 FriskyFreedom is a new destination for those quitting.
  .grid_8.prefix_1.suffix_1.alpha.omega
    %p Find new friends quitting their addiction in a great environment where privacy is a priority.
