.posting[comment]<  
  .comment.canvas
    .body
      .content
        - user = comment.user
        = avatar_image_tag(user.avatar(current_site), :style => :thimble, :anonymous => false)
        = link_to_profile(user)
        = comment.body
    .footer<
      &nbsp;
