- if @comment.present? && @comment.valid?
  :plain
    var
      $posting = $("##{dom_id(@comment.parent)}"),  
      $postingComments = $posting.find('.posting_comments'),
      $comment = $("#{escape_javascript(render(:partial => 'comment', :object => @comment))}");
  
    $comment.css({ opacity: 0.0 });

    $posting
      .find('.posting_comment.form')
        .css({ opacity: 0.0 })
        .slideUp(function() {                
          $posting.find('a.new_posting_comment')
            .delay(600)
            .fadeTo('slow', 1.0);
        });

      $postingComments
        .append($comment)
        .masonry({ appendedContent: $comment }, function() {
          $comment.delay(300).fadeTo(900, 1.0);
        });
        
- else
  :plain
    $('.flash')
      .text("Couldn't save your comment: #{@comment.errors.full_messages.to_sentence}")
