- if @comment.present? && @comment.valid?
  :plain
    var
      $posting = $("##{dom_id(@comment.parent)}"),
      $container = $posting.closest('.posting-container'),
      $comments = $container.find('.posting_comments'),
      $comment = $("#{escape_javascript(render(:partial => 'comment', :object => @comment))}");

    $container
      .find('.posting_comment.editable')
        .css({ opacity: 0.0 })
        .slideUp(function() {       
          $container.find('a.new_posting_comment')
            .delay(600)
            .fadeTo('fast', 1.0);
        });

    $comment
      .css({ opacity: 0.0 })
      .appendTo($comments)
      .wrap('<li/>');
    
    $comments.masonry({ appendedContent: $comment.closest('li') }, function() {
        $comment.delay(300).fadeTo('fast', 1.0);
      });

    $.waypoints('refresh');
        
- else
  :plain
    $('.flash')
      .text("Couldn't save your comment: #{@comment.errors.full_messages.to_sentence}")
