- if @comment.present? && @comment.valid?
  :plain
    var
      $form = $("form##{dom_id(@comment.parent)}_new_comment"),
      $preceding = $form.closest('.comment_box'),
      $comment = $("#{escape_javascript(render(:partial => 'comment', :object => @comment))}");

    $preceding.after($comment);
    $form[0].reset();
- else
  :plain
    $('.flash')
      .text("Couldn't save your comment: #{@comment.errors.full_messages.to_sentence}")
