html.application body {
	background: url($fibers) repeat top center #415943;
}

html.application .header.primary {
	background: url($header) no-repeat top center;
}

html.application .header.primary ul.nav li a {
	background-image: url($header);
}

html.application .page.footer {
	color: #FFF;
}

html.application .header.secondary {
	color: #FFF
}

html.application .header.secondary a:visited,
html.application .header.secondary a:active {
	color: #FFF;
}

html.application .wave_community .loading {
	color: #CCA;
	background-color: rgb(140, 55, 44);
}

html.application .wave_community .loading {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(255, 248, 220, 0.5);
	-moz-box-shadow: 0px 0px 4px 2px rgba(255, 248, 220, 0.5);
	box-shadow: 0px 0px 4px 2px rgba(255, 248, 220, 0.5);
}

html.application .tag-cloud a,
html.application .tag-cloud a:visited {
	color: #CCA;
}

html.application .tag-cloud a:hover {
	color: #CCA;
	background-color: rgb(63, 63, 23);
}

html.application .tag-cloud a.current,
html.application .tag-cloud a.current:hover {
	color: #CCA;
	background-color: rgb(63, 63, 23);
}

html.application .tag-cloud a.current,
html.application .tag-cloud a:visited.current {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(255, 248, 220, 0.5);
	-moz-box-shadow: 0px 0px 4px 2px rgba(255, 248, 220, 0.5);
	box-shadow: 0px 0px 4px 2px rgba(255, 248, 220, 0.5);
}

html.welcome {
	background-color: #415943;
}

html.welcome body {
	background: url($background) no-repeat top center;
	background-color: #415943;
}

html.welcome p {
	color: #FFF;
	text-shadow: 0 1px 2px #0b007E;
}

html.welcome a,
html.welcome a:link,
html.welcome a:hover,
html.welcome a:visited,
html.welcome a:active {
	color: #FFF;
}

html.welcome h1 {
	text-shadow: 4px 8px 6px #374C39;
	color: #FFF;
}

html.welcome h2 {
	color: #374C39;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

html.welcome h3 {
	color: #FFF;
	text-shadow: 1px 2px 1px #374C39;
}

html.welcome h4 {
	color: #FFF;
	text-shadow: 0 3px 3px #374C39;
}

html.welcome label {
	color: #0b007E;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

html.welcome .panel.login a.new_password {
	color: #FFF;
}

html.welcome .flash.notice a {
	color: #FFF;
}

html.welcome .flash.error li {
	color: #0b007E;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}
