.admin {
	font-size: small;
}
.admin h1 {
	font-size: 1.2em;
	color: #000;
	margin-top: 0px;
	margin-left: 20px;
}

.admin table.index {
	margin: 0 auto;
	width: 100%;
}

.admin table.index th,
.admin table.index td {
	text-align: left;
	padding: 5px 20px;
}

.admin table.index th + th,
.admin table.index td + td {
	border-left: 1px dotted grey;	
}

.admin table.index tbody tr:nth-child(odd) {
	background-color: rgba(120, 120, 120, 0.1);
}

.admin table.index tbody tr:hover {
	background-color: #FFFFE8;
}

.admin .flash.notice {
	color: green;
	margin-right: 8px;
}

.admin.invitation.personal table.index tbody tr,
.admin.invitation.personal table.index tbody tr:hover {
	background-color: inherit;
}

.admin table.index td.actions {
	text-align: center;
}
.admin table.index td.actions a:nth-child(1) {
	margin-right: 5px;
}

.admin.invitation table.index td {
	vertical-align: middle;
}

.admin table.index a {
	color: #000;
}

.admin.invitation table.index li {
	float: left;
	margin-right: 10px;
}
.admin.invitation table.index img.thumb {
	width: 80px;
	height: 80px;
	background-color: #FFF;
	border: 1px solid lightgrey;
}

.admin form {
	margin-left: 20px;
}

.admin div.field_with_errors, 
.admin .formError {
	display: inline;
}

.admin .field_with_errors label,
.admin .formError {
	color: darkred;
}

.admin .field_with_errors input {
	border: 1px solid darkred;
	color: darkred;
}

.admin label {
	font-size: small;
	margin-right: 20px;
}

.admin .button-bar {
	text-align: right;
	margin: 12px 8px 0 0;
}

.admin .button-bar.header {
	margin-top: 0;
	margin-bottom: 12px;
}

.admin .button-bar button,
.admin .button-bar a.button {
	margin: 0px;
}
