!!! 5
%html{:lang => "en"}
  %head
    %title Card Flip
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %link{:href => "/stylesheets/friskyhands/labs.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "/stylesheets/friskyhands/polaroid.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "/stylesheets/friskyhands/buddy-bar.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "/stylesheets/friskyhands/scrollable.css", :media => "screen", :rel => "stylesheet"}
    = javascript_include_tag "http://cdn.jquerytools.org/1.2.4/full/jquery.tools.min.js"
    = javascript_include_tag "chrome"
    
  %body
    = render :partial => 'polaroid3'
    = render :partial => 'polaroid3'
    
    :javascript
      $(function(){
        $('.polaroid .back.face .scrollable').scrollable({
          items: 'items',
          keyboard: false,
          next: '',
          prev: ''
        }).navigator();
                
        $('.polaroid .buddy-bar a.flip').click(function(event){
          event.preventDefault();
          $(this).addClass('current').closest('.polaroid').toggleClass('flipped');
        });
          
        $('.polaroid').each(function(idx, polaroid){
          polaroid.addEventListener('webkitTransitionEnd', function(event){
            var $current = $(event.target).find('.front.face .buddy-bar .current')
            $(event.target).find('.back.face .buddy-bar .' + $current.attr('href')).click();
            $current.removeClass('current');
          });
        });        
      });
