- wave_proxy = Posting::WaveProxy.first
.posting[wave_proxy]
  %table
    %tr
      %td{ :colspan => '2' }
        .wave_container
          = render :partial => 'wave/events/event', :object => wave_proxy.resource
    %tr
      %td.avatar.thumb
        &nbsp;
      %td
        &nbsp;
    %tr
      %td{ :colspan => '2' }
        .wave_container.horizontal
          = render :partial => 'wave/events/event', :object => wave_proxy.resource
    %tr
      %td.avatar.thumb
        &nbsp;
      %td
        &nbsp;
