- if @posting.present? && @posting.unpublished?
  :plain
    var $posting = $("##{dom_id(@posting)}").closest('.post_frame');
    $posting.fadeTo('fast', 0.0, function() {
      $posting.slideUp('fast', 'linear', function() {
        $posting.remove();
      });
    });
