Hey there!

Your friend #{@invitation.sponsor.handle(@invitation.site)} at #{@invitation.site.display_name} has invited you to join.

Click the following link to join right away!

#{welcome_url(:host => @host, :invite => @invitation.code)}
