%p
  %strong Hey there!
%p
  Your friend #{@invitation.sponsor.handle(@invitation.site)} at #{@invitation.site.display_name} has invited you to join.
%p
  Click the following link to join right away!
%p
  = link_to nil, welcome_url(:host => @host, :invite => @invitation.code)
