%p
  %strong Hey there!
%p
  Your friend #{@invitation.sponsor.handle(@invitation.site)} at #{@invitation.site.display_name} has invited you to join.
%p
  Click the following link to join right away!
%p
  = link_to nil, welcome_url(:host => "#{@invitation.site.name}.com", :invite => @invitation.code)
- unless Rails.env.production?
  %hr
  %p
    %strong This is a demonstration email that would be sent to your invitee
