- avatar = @profile.avatar
.current_user.wave[@profile]
  .grid_2
    &nbsp;
  .grid_6
    .polaroid.edit
      - content_for :polaroid_front_face do
        .button-bar
          #{link_to 'Edit', edit_profile_path, :class => 'edit button'}
      = render :partial => 'posting/avatars/polaroid_front_face', :locals => { :profile => @profile, :avatar => avatar }
  .grid_6
    .polaroid.edit
      - content_for :polaroid_back_face do
        .button-bar
          #{link_to 'Edit', edit_profile_path, :class => 'edit button'}
      = render :partial => 'posting/avatars/polaroid_back_face', :locals => { :profile => @profile, :avatar => avatar }
  .grid_2
    &nbsp;

:javascript
  $('div.button-bar a.button.edit')
    .button({ icons: { primary: 'ui-icon-pencil' }, text: false });