!!!
%html.no-js
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}/
    %title= @title || current_site
    = stylesheet_link_tag 'friskyfactory/album.css'
    = javascript_includes 'lib/jquery/jquery.min', 'lib/modernizr-1.6.min', 'lib/jquery/supersized.3.1.2'
  %body
    = yield