= yield
:plain
  
  You received this email because you're subscribe to email notifications at #{site.display_name}
  
  #{full_url(host_with_port)}.
  
  If you do not wish to receive this notification, send an email to unsubscribe@friskyfactory.com.
  
  Thanks for using #{site.display_name}!

  FriendFactory, LLC
  151 First Ave Suite 205,
  New York, NY 10003