.posting_comment {
/*	width: 460px;*/
/*	font-size: 0.9em;*/
/*	margin: 4px 0;*/
}

.posting_comment .content {
    width: 222px;
    position: relative;
}

.posting_comment .created_at {
    white-space: nowrap;
}

.posting_comment img.avatar.thimble {
	border: 1px solid gray;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    -webkit-box-shadow: 2px 2px 3px #666;
    -moz-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
}

.posting_comment .body {
    background: url(/images/friskyfactory/note-paper_01.png) no-repeat top left;
    width: 190px;
    padding: 34px 16px 0;
    min-height: 36px;
    max-height: 202px;
    font-size: small;
    line-height: 20px;
    overflow: hidden;
}

.posting_comment .body div {
    overflow: hidden;
	min-height: 36px;
}

.posting_comment .footer {
    background: url(/images/friskyfactory/note-paper_02.png) no-repeat top left;
    margin-top: -1px;
    width: 222px;
}

a.new_posting_comment {
	display: inline-block;
	text-indent: -1000em;
	background: url('/images/friskyfactory/posting-icons.png') no-repeat -286px -10px;
	width: 36px;
	height: 36px;
}

.posting_comment form.new_posting_comment textarea {
    height: 1em;
    background-color: #FFF;
	width: 172px;
	background: transparent;
	resize: none;
}

.posting_comment form.new_posting_comment .button-bar {
    text-align: right;
    margin-top: -5px;
    margin-bottom: -5px;
}
