.photo.canvas img.photo {
    padding: 10px;
    background: #FFF;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.photo.canvas  img.photo.h4x6 {
	width: 434px;
	height: 284px;
    border: 1px solid darkgrey;
}

.photo.canvas img.photo.v4x6 {
	width: 284px;
	height: 434px;
    border: 1px solid darkgrey;
}

.photo.canvas img.photo.small {
    padding: 8px;
}

.photo.canvas img.photo.h4x6.small {
    width: 220px;
    height: 148px;
}

.photo.canvas img.photo.v4x6.small {
    width: 148px;
    height: 220px;
}


.tab_content#posting_photo .button-bar {
	margin-top: -6px;
	padding: 2px 4px;	
}

.tab_content#posting_photo td {
	vertical-align: top;
}

.tab_content#posting_photo .photo.canvas {
	text-align: center;
}

.tab_content#posting_photo .button-bar {
	margin: -4px auto 0;
	min-width: 280px;
	background-color: #FFF;
	text-align: center;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tab_content#posting_photo .edit_posting_photo .button-bar {
	text-align: right;
}
