.post_it.canvas {
    background: url('/images/friskyfactory/post-it.png') no-repeat top left;
    width: 173px;
	height: 122px;
	padding: 5px 8px 20px 6px;
    line-height: 1.2em;
	font-size: small;
    color: #111;
}

.new_posting_post_it .post_it.canvas {
    background: url('/images/friskyfactory/post-it.png') no-repeat -150px left;
}

.post_it.canvas .content {
	width: 153px;
	height: 120px;
	padding: 7px 10px 0 10px;
	overflow: hidden;
	line-height: 16px;
}

.post_it.canvas img.avatar.thumb {
    position: relative;
    float: left;
	margin: 2px 12px 2px 0;
	width: 40px;
	height: 40px;
    -webkit-box-shadow: 0px 0px 3px #666;
    -moz-box-shadow: 0px 0px 3px #666;
    box-shadow: 0px 0px 3px #666;
}

.post_it.canvas img.avatar.thumb.online {
	width: 40px;
	height: 40px;	
}

.post_it.canvas textarea {
	position: relative;
	width: 100%;
	height: 115px;
	border: 0;
	padding: 0;
	color: #111;
	background: transparent;
	resize: none;
	overflow: hidden;
}

.post_it.canvas.attachment textarea {
	height: 72px;
}

.new_posting_post_it .button-bar {
	margin-top: -44px;
	margin-left: 100px;
	padding: 0;
	width: 80px;
	text-align: center;
}
