.text.canvas {
    background: url('/images/friskyfactory/index-card.png') no-repeat top left;
    width: 372px;
	height: 238px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 8px;
	padding-bottom: 13px;
}

.text.canvas h1 {
    color: #501508;
	font-size: 13px;
    line-height: 20px;
	margin: 0;
}

.text.canvas .content {
	position: relative;
    color: #501508;
	width: 332px;
	height: 208px;
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
    line-height: 20px;
	overflow: hidden;
}

.text.canvas img.avatar.thumb {
	float: left;
	position: relative;
	top: -4px;
	left: -4px;
	margin: 0 8px 0 0;
	width: 50px;
	height: 50px;
    -webkit-box-shadow: 2px 2px 4px #666;
    -moz-box-shadow: 3px 3px 4px #666;
    box-shadow: 3px 3px 4px #666;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

.text.canvas textarea {
	position: relative;
	background: transparent;
	resize: none;
	margin: 0;
	border: 0;
	padding: 0;
	line-height: 20px;
}

.text.canvas textarea#posting_text_subject {
	width: 256px;
	height: 38px;
	color: #501508;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
}

.text.canvas textarea#posting_text_body {
	top: -4px;
	width: 318px;
	height: 136px;	
	overflow: hidden;
}
