- unless photo.nil?
  .posting[photo]
    %table
      %tr
        %td.avatar.thumb
          = render_attachment(photo)
        %td
          = render_photo(photo)
          = render_comments(photo)
