= remotipart_response do
  - if @posting.present? && @posting.valid?    
    $('form#new_posting_photo').replaceWith("#{escape_javascript(render(:partial => 'edit', :locals => { :wave => @wave, :photo => @posting }))}");
    $('textarea', 'form#edit_posting_photo').placehold();
    $('a#destroy_posting_photo').button({ icons: { primary: 'ui-icon-close' }});

    
    // .find("##{dom_id(@posting)}").effect('highlight', {}, 3000)
    // $currentTab.removeClass('current');
    // $panel.hide().find('form')[0].reset();
    
  - else
    $('.flash').text("Couldn't save your posting #{@posting.errors.full_messages.to_sentence}")
